body{
  background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%);
  overflow-x: hidden;
  width: 100%;
}

.customContainer{
  padding : 0 0 0 8.50%;
  @media only screen and (max-width: 600px){
    padding:0;
  }

}

// navbar
.customNav{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: white;
}

.customNavLink{
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-align: center;
  &.active{
    color: #18A6DF;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: 300;
    padding-bottom: 10px;
  }
}

.navbar-brand{
  img{
    width: 75%;
  }
}

.navbar-collapse.collapse.in {
  display: block!important;
}
.loginBtnHolder{
  margin-left: auto;
}
.loginBtn{
  padding: 6px 25px 7px 25px;
  border: 1px solid rgba(24, 166, 223, 0.3);
  border-radius: 25px;
  margin-right: 35px;
  font-weight: bold;
  margin-left: 300px;
  @media only screen and (max-width: 600px){
    margin-left: 0px;
  }
  text-decoration: none !important;
  :hover{
    text-decoration: none !important;
  }
}
.lineDivider{
  transform: scaleY(-1);
  padding : 3px 0 0 0;
  width: 30px;
  background-color: #30323D;
  margin-top: 8px;
}
.line{
  transform: scaleY(-1);
  background-color: whitesmoke;
  padding : 3px 0 0 0;
}

// main section ( one )
  // heading :

#mainSection{
  background: url("/images/new_theme/rectangle_big.png");
  background-position-x:right ;
  background-position-y: 2% ;
  background-size:15% ;
  background-repeat:no-repeat;
  height: 420px;
  @media only screen and (max-width: 600px){
    background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%);
  }
}
.mainSectionHeading{
  padding : 12% 0 2% 0;
  color: #30323D;
  font-family: Roboto;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
  span{
    color: #18A6DF;
  }
  @media only screen and (max-width: 600px){
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
  }
}
.mainSectionSubHeading{
  color: #697786;
  font-family: Roboto;
  font-size: 20px;	font-weight: 300;
  line-height: 24px;
  padding : 4% 0 2% 0;
  @media only screen and (max-width: 600px){
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 12%;
  }
}

.buttonMain{
  padding : 5% 0 0 0;
  @media only screen and (max-width: 600px){
    text-align: center;
    padding-top: 13%;
  }
  text-decoration: none;
  a:hover{
    text-decoration: none;
  }
  .hireBtn{
    border: 1px solid #44E5EF;
    border-radius: 24px;
    background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
    padding: 3.5% 20% 3.5% 20%;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
}

// freelancers section

.secondSectionHeading{
  padding : 4% 0 2% 0;
  color: #30323D;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  span{
    color: #18A6DF;
  }
  @media only screen and (max-width: 600px) {
    padding-left: 5%;
  }
  }

/* Freelancers' boxes*/
.freelancerItem{
  text-decoration: none;
}

.freelancerImg{
  border-radius: 50%;
  width: 100%;
  padding: 15px;
  @media only screen and (max-width: 600px) {

  }
}

.freelancerBox{
  transition-duration: 300ms;
}
.freelancerBox:hover{
    -ms-transform: translateY(-2px); /* IE 9 */
    -webkit-transform: translateY(-2px); /* Safari */
    transform: translateY(-2px);
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px ;
    transition-duration: 300ms;
}

.textImg{
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
  font-size: 14px;
}


.itemLink:hover{
  text-decoration: none;
}



.freelancers{
  padding: 25px;
  text-align: left;
}

.freelancerName{
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  padding-bottom:10px;
  white-space: nowrap;
  overflow: hidden;
  :hover{
    text-decoration: none;
  }
}

.freelancerJob{
  color: #697786;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  padding-top:5px;
  white-space: nowrap;
  overflow: hidden;
  :hover{
    text-decoration: none;
    border: 0px;
  }
}

.freelancerData{
  padding: 6px 2px 6px 2px;
}


.freelancersHeading{
  font-size: 5vh;
  font-weight: bolder;
  padding-bottom: 35px;
  padding-top: 5px;
}

.slickSlide{
  padding-bottom: 25px;
}

.slick-next:before {
  color: black;
}

.slick-prev:before{
  color: black;
}

//  freelancer talent :
#freelanceTalent{
  padding: 20px 0 10px 0 ;
}
.talentText{
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 10px;
  @media only screen and (max-width: 600px){
    text-align: center;
  }
}


// dev designer boxes :

#devDesBoxes{
  margin-top: 10px;
  background: url('/background.svg');
}

.designerBox{
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED;
  width: 100%;
  margin-top: 5%;

}

#developerBox{
  @media only screen and (max-width: 600px){
    padding: 20px;
  }
}
#designerBox{
  @media only screen and (max-width: 600px){
    padding: 20px;
  }
}

.borderRight{
  border-right: 1px solid #ECECEC;
  @media only screen and (max-width: 600px){
   border: 0;
  }
}

.designerLeftSide{
  padding: 18px;
  h2{
    opacity: 0.9;
    color: #464646;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    margin-right: 10px;
    @media only screen and (max-width: 600px){
      padding: 5px 0 0 0;
    }
  }
  img{
    width: 37%;
    @media only screen and (max-width: 600px){
      width: 20%;
    }
  }
}

.designerRightSide{
  padding: 20px ;
  h2{
    opacity: 0.9;
    color: #273D52;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    line-height: 37px;
    img{
      width: 7%;
    }
  }

  a{
    opacity: 0.9;
    color: #18A6DF;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    img{
      width: 2.5%;
    }
    :hover{
      text-decoration: none;
    }
  }

  .getStartBtn{
    img{
      width: 7%;
    }
    border: 1px solid #D9F9FF;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #18A6DF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    padding: 10px;
    margin-top: 13px;
  }

}

// our clients section
#ourClients{
  background: whitesmoke;
}
.heading{
  h2{
    color: #18A6DF;	font-family: Roboto;	font-size: 30px;	font-weight: bold;	line-height: 35px;
    padding: 5% 0 0 8.5%;
    @media only screen and (max-width: 600px){
      text-align: center;
      padding-right: 14px;
    }
  }
}

.clientsBox{
    height: 340px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    .leftSide{
      padding: 4%;
    }
   margin: 5% 5% 0 5%;
  @media only screen and (max-width: 600px){
    height: auto;
  }
}

// footer :

.footerText{
  opacity: 0.5;
  color: #000000;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  padding-top: 30px;
  @media only screen and (max-width: 600px) {
    text-align: center;
  }
  h2{
    padding-top: 1%;
    opacity: 1;
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: right;
    @media only screen and (max-width: 600px) {
      text-align: center;
    }
  }
}

.customFooter{
  background: whitesmoke;
  height: 180px;
  @media only screen and (max-width: 600px) {
    height: auto;
  }
}

.footerImg{
  padding-left: 34.5%;
  img{
    margin-top: 89px;
    width: 20px;
    padding: 2px;
    margin-left: 3%;
    @media only screen and (max-width: 600px) {
      margin-left: 1%;
    }
  }
  @media only screen and (max-width: 600px) {
    padding-left:0;
    text-align: center;
  }
}

.logoImg{
  padding-right: 20px;
  img{
    width: 25%;
    padding-top: 10%;
    opacity: .5;
  }
}

.formLabel{
  opacity: .7;
  color:#18A6DF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}

.designerBtn{
  text-align: center;
  margin-top:3%;
  :hover{
    text-decoration: none;
    border: 1.5px solid #18A6DF;
  }
  a{
    text-align: center;
    border: 1.5px solid lightgray;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 5% 0 5% 0;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.05), 0 1px 2px 0 rgba(0,0,0,0.05);
    opacity: 0.5;
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.form{
  padding: 5%;
}

.no-border{
  border-top:0 ;
  border-right:0 ;
  border-left:0 ;
}