.form-wrapper {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-wrapper {
        .form-title {
            margin-bottom: 44px;
            font: 500 51px Noto Sans;
            letter-spacing: 0;
            color: #001CE2;
            opacity: 1;
        }

        .form-title.sub {
            font: 500 30px Noto Sans;
            margin-bottom: 27px;
        }

        .mar-form {
            .mar-input {
                display: flex;
                flex-direction: column-reverse;
                margin-bottom: 25px;

                label {
                    text-align: left;
                    font: 500 17px/23px Noto Sans;
                    letter-spacing: 0;
                    color: #505050;
                    opacity: 1;
                }

                label.labelFocused{
                    color: #001CE2;
                }

                input {
                    width: 616px;
                    height: 73px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    border: 2px solid #505050;
                    color: #505050;
                    border-radius: 8px;
                    padding-left: 17px;
                    opacity: 1;
                }

                input:focus {
                    border: 2px solid #001CE2;
                    color: #001CE2;
                    outline: none;
                }

                img{
                    width: 36px;
                    height: 36px;
                    right: 20px;
                    position: absolute;
                }
            }

            .mar-input.active {
                label {
                    color: #1EC300;
                    font: 600 17px/23px Noto Sans;
                }

                input {
                    border: 2px solid #1EC300;
                    color: #1EC300;
                }
            }

            .mar-input.error {
                label {
                    color: #E20000;
                    font: 600 17px/23px Noto Sans;
                }

                input {
                    border: 2px solid #E20000;
                    color: #E20000;
                }
            }

            .my-subscription {
                display: flex;
                justify-content: space-between;

                .toggle-label {
                    position: relative;
                    display: block;
                    width: 135px;
                    height: 55px;
                    margin-bottom: 0 !important;
                    border-radius: 41px;

                    input[type="checkbox"] {
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        + .back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: white;
                            border-radius: 41px;
                            transition: background 150ms linear;
                        }

                        &:checked {
                            + .back {
                                background: white;

                                /*green*/
                            }

                            + .back .toggle {
                                margin-left: 76px;
                            }
                        }

                        + .back .toggle {
                            display: block;
                            position: absolute;
                            content: " ";
                            background: #001BDE;
                            width: 50%;
                            height: 100%;
                            transition: margin 150ms linear;
                            border: none;
                            border-radius: 41px;
                        }
                    }

                    .label {
                        display: block;
                        position: absolute;
                        width: 50%;
                        line-height: 54px;
                        margin-right: 6px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        filter: grayscale(0%) !important;

                        &.on {
                            left: 0;
                            color: white;
                            opacity: 1 !important;
                        }

                        &.off {
                            right: 0;
                            color: #001BDE !important;
                            opacity: 1 !important;
                            margin-right: -6px;

                        }
                    }

                    input[type="checkbox"] {
                        &:checked {
                            + .back .label.on {
                                color: #001BDE;
                            }

                            + .back .label.off {
                                color: #fff !important;
                            }
                        }

                        + .back .label.off {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .actions-row {
            margin-bottom: 25px;

            img {
                width: 35px;
                height: 35px;
                margin-right: 32px;
            }
        }

        .action-btns {
            display: flex;
            justify-content: space-between;

            .save-btn {
                width: 240px;
                height: 66px;
                display: flex;
                justify-content: center;
                align-items: center;

                background: #001CE2 0% 0% no-repeat padding-box;
                border-radius: 8px;

                text-align: left;
                font: 500 21px Noto Sans;
                letter-spacing: 0;
                color: #FFFFFF;
                opacity: 1;

                img {
                    width: 27px;
                    height: 21px;
                    margin-right: 20px;
                }
            }

            .purchase-btn {
                width: 230px;
                height: 66px;
                display: flex;
                justify-content: center;
                align-items: center;

                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #001CE2;
                border-radius: 12px;
                opacity: 1;

                font: bold 16px Noto Sans;
                letter-spacing: 0;
                color: #001CE2;

            }
        }
    }

}