.input-field {
    flex-flow: column;
    display: flex;
    margin-bottom: 25px;
    
    label {
        font-size: 22px;
        line-height: 30px;
        color: #505050;
        font-family: "Noto Sans";
        font-weight: 700;

        .hint-message {
            font-size: 18px;
            float: right;
            font-style: normal;

            &.left {
                float: none;
                margin-top: 7px;
                margin-bottom: 16px;
            }
        }
    }
    input {
        min-height: 73px;
        max-width: 616px;
        border: 1.5px solid #505050;
        border-radius: 8px;
        padding: 0px 0px 0px 16.8px;
        color: #a5a5a5;
        font-size: 15px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;

        &.--blue {
            border-color: $mainBlue;
        }
    }
    textarea {
        min-height: 181px;
        max-width: 1048;
        width: 100%;
        padding: 23px 25px;
        font-size: 22px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;
        color: #a5a5a5;
        border: 1.5px solid #505050;
        border-radius: 8px;
        resize: none;

        &.--blue {
            border-color: $mainBlue;
        }
    }
}