@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

.resume-container {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.input-field {
    flex-flow: column;
    display: flex;
    max-width: 490px;
    margin-bottom: 31.5px;
    
    label {
        font-size: 22px;
        line-height: 30px;
        color: #505050;
        font-family: "Noto Sans";
        font-weight: 300;
        .hint-message {
            font-size: 18px;
            color: #1f5de4;
            float: right;
            font-style: normal;
        }
    }
    input {
        min-height: 54.6px;
        border: 1.5px solid #505050;
        border-radius: 8px;
        padding: 0px 0px 0px 16.8px;
        color: #a5a5a5;
        font-size: 15px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;
    }
    textarea {
        min-height: 181px;
        padding: 23px 25px;
        font-size: 22px;
        font-family: "Noto Sans";
        font-weight: 500;
        outline: none;
        color: #a5a5a5;
        border: 1.5px solid #505050;
        border-radius: 8px;
    }
}
