.fade-enter-active, .fade-leave-active {
    transition: opacity .8s ease;
    opacity: 1 !important;

    .form-title,
    label,
    .section-title,
    .aside-bar {
        opacity: 1 !important;
        transition: all .8s ease;
    }
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 1 !important;
    transition: opacity .8s ease;

    .form-title,
    label,
    .section-title,
    .aside-bar {
        opacity: 0 !important;
        transition: all .8s ease;
    }
}

// Main component transitions
@for $j from 1 through 6 {
    @keyframes moveInput#{$j} {
        from {
            transform: translate(0);
        } to {
            transform: translate(calc((-1) * (50vw - 50% - 380px - 3rem - 1.17%)), 375px);
        }
    }
}

.fade-leave-active {
    #myAccountTab {
        overflow: visible;

        @for $i from 1 through 6 {
            .mar-input {
                &:nth-child(#{ $i }) {
                    animation-name: moveInput#{$i};
                    animation-duration: .6s;
                    animation-fill-mode: forwards;
                    animation-timing-function: cubic-bezier(0.8, 0.6, 0.45, 0.4);
                }
            }
        }
    }
}