vendor/
node_modules/
npm-debug.log
.htaccess

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
resumeApp/storage
public/hot
resumeApp/storage/*.key
resumeApp/.env.*.php
resumeApp/.env.php
resumeApp/.env
.idea
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
