
// Body
$body-bg: #f5f8fa;
$l-blue: #218dce;
$green: #3EBD74;
$yellow: #FFBC58;
$red: #F56F6F;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
