.oneLineHiddenOverflow{
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 200px;
  text-overflow: ellipsis;
}

.addDesigner{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
}

.bookingsBox{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 30px 10px 0px 10px;
  text-align: center;
  line-height: 160px;
}

.centerVertically{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}