.campaignRow{
  margin-top: 15px;
  .campaignInfo{
    background-color: #dbedf7;
    text-align: center;
    color: #2997c8;
    padding: 10px 0 10px 0;
    font-weight: bold;
    word-break: break-word;
    border-right: 15px white solid;
  }

  .campaignData{
    background: whitesmoke;
    text-align: center;
    color: #939498;
    padding-top: 6px;
  }
}

.clientInfo_detail_cBrief{
  padding-top: 15px;
  margin-top: 10px;
  background: whitesmoke;
  div{
    text-align: center;
    color: #939498;
    padding-bottom: 10px;
  }
}

.blueLine{
  background-color: #2997c8;
  transform: scaleY(-1);
  padding : 2px 0 0 0;
  margin-top: 10px;
}
