#campaign{
  .mainHeader{
    background: $l-blue;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 15px 0 15px 0;
  }

  .campaignText{
    color: $l-blue;
    font-size: 18px;
    padding-top: 15px;
  }
}