.freelancerChatBox{
  border: 1px lightgrey solid;
  border-radius: 15px;
  padding: 10px;
  margin:15px;
}

.clientMessage{
  border: 1px lightgrey solid;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background: lightgrey;
  text-align: left;
}

.freelancerMessage{
  border: 1px lightgrey solid;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  background: whitesmoke;
  text-align: left;
}

.defaultMessage{
  border: 1px lightgrey solid;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  background: lightgray;
  text-align: left;
}