.freelancerChatBox{
  border: 1px black solid;
  border-radius: 5px;
  padding: 15px;
}

.clientMessage{
  border: 3px blue solid;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  background: lightblue;
  text-align: right;
}

.freelancerMessage{
  border: 3px green solid;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  background: lightgreen;
  text-align: left;
}

.defaultMessage{
  border: 3px gray solid;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  background: lightgray;
  text-align: left;
}