.faq-questions-list{
  margin-top:37px;
  .question-container{
    border-bottom: 1px solid rgba(188, 191, 198, 0.44);
  }
  .faq-question{
    margin-top: 7px;
    padding-bottom: 45px;
    padding-top: 54px;
    display: flex;
    .faq-numbering{
      margin-right: 36px;
      span{
        width:36px;
        height:36px;
        background: #FFA368;
        color:white;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    }

    .faq-item{
      .faq-item-question{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4A5464;
        margin-bottom: 20px;
      }
      .faq-item-answer{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #4A5464;
        .question-edit-state{
          width: 100%;
        }
      }
    }

    .faq-edit{
      margin-left: 15px;
      margin-top: 4px;
      img{
        cursor: pointer;
      }
      .faq-edit-disabled{
        cursor:auto;
        opacity: .5;
      }
    }

  }
  .question-container:last-child{
    border:none;
  }

  .faq-edit-state{
    padding-bottom: 45px;
    padding-top: 54px;
    .edit-heading{
      display: flex;
      .faq-numbering{
        margin-right: 36px;
        span{
          width:36px;
          height:36px;
          background: #FFA368;
          color:white;
          border-radius: 50%;
          display:flex;
          justify-content: center;
          align-items: center;
        }
      }
      .edit-title{
        flex: 1;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4A5464;
      }
      .edit-action-btns{
        a:hover{
          text-decoration: none;
        }
        a{
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.1px;
          color: #05A4F4;
          margin-left: 70px;
        }
      }
    }
  }
}

.dashboard-box-heading{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 34px;
  margin-left:24px;
  margin-right: 24px;
  border-bottom: 1px solid rgba(188, 191, 198, 0.44);

  .left{
    display:flex;
    align-items:center;
    img{
      margin-right:20px;
    }
    span{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      text-transform: uppercase;
      color: #4A5464;
      @media (max-width:650px) {
        font-size: 16px;
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .right{
    a.normal-link{
      display:flex;
      align-items:center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.1px;
      color: #05A4F4;
    }
  }
}