#invoice{
  .agentName{
    color: #2997c8;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    text-align: justify;
  }

  .termsText{
    color: #2997c8;
    padding-top: 10px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
  }

  .invoiceNumber{
    color: #767676;
    font-family: Roboto;
    font-size: 18px;
    text-align: justify;
    padding-top: 10px;
  }
  .invoiceNumber:after, .agentName:after {
    content: "";
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .clientInfo{
    background-color: #dbedf7;
    margin-top: 15px;
    div{
      text-align: center;
      color: #2997c8;
      padding: 10px 0 10px 0;
      font-weight: bold;
    }
  }

  .clientInfo_detail{
    border-top: 2px lightblue solid;
    padding-top: 15px;
    margin-top: 10px;
    div{
      text-align: center;
      color: #939498;
      padding-top: 15px;
      border-right: 1.5px lightblue solid;
    }
  }

  .buttonsRow{
    border-top: 2px lightblue solid; border-bottom: 2px lightblue solid; margin-top: 15px;
  }
}