
.campaign_team_content{
  display: flex;
  justify-content: center;
  padding-top: 28px;
  .campaign_team{
    @media (max-width:1240px) {
      width:96%;
    }
    width: 1164px;
    background-color: #fff;
    box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
    border-radius: 4px;
    .campaign-team-header{
      display: flex;
      justify-content: space-between;
      @media (max-width:600px) {
        justify-content: center;
      }
      align-items: center;
      padding: 70px 100px 30px 100px;
      @media (max-width:1240px) {
        padding: 70px 18px 30px 18px;
      }
      .select-list{
        margin-bottom: 0;

        .form-group{
          .form-control:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
          }

          .form-control{
            .custom-option{
              background: white!important;
            }
          }

          select{
            background: #EEF9FF;
            border-radius: 4px 4px 0 0;
            width: 400px;
            height: 56px;
            border-left: none;
            border-top: none;
            border-right: none;
            border-bottom: 1px solid #7A828D;
            @media (max-width:1240px) {
              width: 326px;
            }

            @media (max-width:425px) {
              width: 286px;
            }
          }
        }
      }
      .actionBtn{
        @media (max-width:600px) {
          margin-top: 24px;
          margin-right: 6px;
          display: none;
        }

        a:hover {
          text-decoration: none;
        }
        a{
          @media (max-width:1024px) {
            width: 190px;
            height: 36px;
            font-size: 11px;
          }

          display:flex;
          justify-content: center;
          align-items: center;
          width: 175px;
          height: 36px;
          border-radius: 30px;
          background: #05A4F4;

          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 24px;
          letter-spacing: -0.1px;
          color: #FFFFFF;

          img{
            margin-right: 8px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .campaign-team-list{
      padding: 0px 100px 30px 100px;
      @media (max-width:1240px) {
        padding: 0px 38px 30px 38px;
      }
      @media (max-width:600px) {
        padding:20px;
      }
      .lineDivide{
        width:100%;
        margin-left:0;
      }
      .campaign-team-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        height:80px;
        @media (max-width:600px) {
          height:auto;
          justify-content: space-between;
        }
        border-top:1px solid rgba(188, 191, 198, 0.44);
        .team-member {
          margin-bottom: 0;
          margin-right: 200px;
          @media (max-width: 920px) {
            padding-top: 20px;
            margin-right: 80px;
          }

          @media (max-width: 600px) {
            margin-right: 0;
            margin-left: 20px;
          }

          img{
            margin-left: 0;
            margin-right: 8px;
          }
        }

        .chat-action-btn {
          @media (max-width: 600px) {
            margin-right: 20px;
          }
        }

        .change-status-btn{
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          text-align: right;
          letter-spacing: -0.1px;
          color: #05A4F4;
          margin-left: 45px;

          @media (max-width: 920px) {
            margin-left: 30px;
          }

          &[data-target="#remove-modal"] {
            @media (max-width:600px) {
              text-align: left;
            }
          }

          @media (max-width:600px) {
            width: 50%;
            margin: 0;
            padding-top: 32px;
            padding-bottom: 28px;
          }

          &[data-target="#backup-modal"] {
            margin-left: 100px;
            @media (max-width: 920px) {
              margin-left: 40px;
            }
            @media (max-width:600px) {
              margin: 0;
            }
          }
        } 

      }

    }
  }
}

.campaign-team-modal{
  border-radius: 4px;
  padding:32px 33px 22px 33px !important;
}

.modal-question{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4A5464;
  mix-blend-mode: normal;
  opacity: 0.9;
}

.modal-answer{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;/* identical to box height, or 133% */
  color: #4A5464;
  mix-blend-mode: normal;
  opacity: 0.9;
  margin-top:20px;
}

.modal-btn-wrapper{
  margin-top:30px;
  display:flex;
  justify-content:center;
  @media (max-width:400px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.button-base{
  a{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blue-button-a{
  a{
   width: 183px;
   height: 26px;
   color: #FFFFFF;
   background-color:#05A4F4;
    @media (max-width:400px) {
      margin-top: 25px;
    }
  }
  a:hover{
    text-decoration: none;
    color: white;
  }
}

.white-button-a{
  a{
     width: 86px;
     height: 26px;
     color: #05A4F4;
     background-color:#FFFFFF;
     border:1px solid #05A4F4;
     margin-right:38px;
      @media (max-width:400px) {
        margin-right:0;
      }
  }
  a:hover{
    text-decoration: none;
    color: #05A4F4;
  }
}
