.flags-dropdown {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  
  a {
    color: #4A5464;

    &:hover {
      color: #4A5464;
    }
  }

  .selected-country {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    .select-icon {
      position: static !important;
      right: auto;
      margin: 0;
      margin-right: 5px;
    }
  }

  .flags-container {
    position: absolute;
    top: 50px;
    height: 0;
    width: 100%;
    transition: .5s;
    overflow: hidden;
    background: white;
    z-index: 2;

    &.opened {
      height: 300px;
      overflow-y: scroll;
    }
    
  }
  
  .flag-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #7A828D;    
  }
}

.account-edit-section .faq-question-input .faq-input .flags-dropdown {
  img {
    margin-left: 0;
    margin-right: 0;
  }

  input {
    padding: 0;
    padding-left: 120px;
    position: absolute;
  }
}

.select-icon {
  display: block;
  width: 0;
  height: 0;
  border-top: 5px #495057 solid;
  border-right: 5px transparent solid;
  border-left: 5px transparent solid;
}