.account-info-content-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  padding-top:47px;
  padding-bottom:28px;
  
  .account-info-content{
    padding:26px 34px 26px 34px;
    width: 644px;
    display:flex;
    flex-direction:column;
    border: 1px solid #E2E3E6;
    margin-bottom: 28px;
    .acc-info-content-heading{
      display: flex;
      justify-content: space-between;
      .acc-info-item{
        display: flex;
        align-items: center;
        img{
          margin-right:22px;
        }
        span{
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.2px;
          color: #4A5464;
        }
      }
      .acc-info-timezone{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: right;
        color: #7A828D;
      }
    }
    .acc-info-content-item{
      display: flex;
      align-items: center;
      margin-top: 26px;
      img{
        margin-right:22px;
      }
      div{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #7A828D;
      }
    }
    .acc-info-content-item:last-child{
      margin-top: 22px;
      align-items: flex-start;
      div{
        line-height: 34px;
      }
    }
  }
}

.contracts,.faqs, .professional-info {
  margin-top: 18px;
}

.professional-info {
  .info {
    margin: 15px 0;
    display: flex;
    align-items: flex-start;

    .info-content {
      display: inline-block;
      font-size: 16px;
    }

    img {
      margin-right: 20px;
    }
  }
}

.agreement{
  margin-left: 34px;
  margin-right: 36px;
  height:94px;
  display:flex;
  justify-content : space-between;
  align-items:center;

  @media (max-width: 745px) {
    margin-left: 14px;
    margin-right: 14px;
  }
  .right{
    display: flex;
    align-items: center;
    img{
      margin-right: 20px;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #4A5464;

    @media (max-width: 745px) {
      font-size: 14px;
    }

  }
  .left{
    a{
      display:flex;
      justify-content : center;
      align-items:center;
      width:181px;
      height:36px;
      border: 1px solid #05A4F4;
      border-radius: 4px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: -0.1px;
      color: #05A4F4;

      @media (max-width: 745px) {
        font-size: 12px;
      }
    }
  }
}
.agreement:first-child{
  border-bottom: 1px solid #E2E3E6;
}

.faqs-wrapper{
  padding:30px 32px 34px 26px;
  .faq-questions-list{
    margin-top: 0;
  }
  .faq-questions-list .faq-question .faq-numbering {
    margin-top: 10px;
    span{
      width: 24px;
      height: 24px;
    }
  }
}

// my account edit scss :

.account-info-edit.dashboard-box{
  max-width: 1164px;
  width: 100%;
  padding-left: 113px;
  padding-right: 113px;
  @media (max-width:1240px) {
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (max-width:425px) {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.account-info-edit-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  width: 85%;

  @media (max-width:1240px) {
    width: 738px;
  }
  @media (max-width:768px) {
    width: 96%;
  }
}

.faq-question-input.account-edit-input{
  position: relative;
  &.full-width {
    width: 100%;
  }

  .faq-input{
    width: 400px;
    max-width: 100%;

    input {
      /* Change the white to any color ;) */
      &:-webkit-autofill,
      &:-webkit-autofill:hover, 
      &:-webkit-autofill:focus, 
      &:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 30px transparent inset !important;
      }
    }

    select {
      border-radius: 0 !important;
      appearance: none !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      position: relative;
    }

    .select-icon {
      position: absolute;
      right: 10px;
      z-index: 2;
    }

    @media (max-width:1240px) {
      width:307px;
    }
    @media (max-width:600px) {
      width:100%;
    }
  }
  @media (max-width:600px) {
    width:100%;
  }
}

.account-edit-section{
  display: flex;
  flex-direction: column;
  padding-bottom: 38px;
  .account-edit-section-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #3EA3D7;
    margin-top: 40px;
  }

  .faq-question-input.faq-description {
    width: 100%;
  }

  .faq-question-input .faq-input img, .faq-answer-input .faq-input img {
    margin-left: -34px;

    &.edit-icon {
      margin-left: -30px;
    }
  }

  .faq-question-input .faq-input img.edit-icon {
    margin-left: -30px;  
  }

  .faq-question-input img, .faq-answer-input img {
    margin-right: 0;
  }

  .form-group.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    input {
      margin-right: 10px;
    }
  
    .fake-radio-option {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      background: white;
      position: absolute;
      left: 0;
      top: 2px;
      border: 1.5px solid #FF9B68;
  
      &:hover {
        cursor: pointer;
      }
  
      .inner-circle {
        background: #FF9B68;
        opacity: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;     
      }
    }
  
    .fake-radio-option.checked {
      .inner-circle {
        opacity: 1;
      }
    }

    label {
      margin-left: 10px;
    }
  }
  
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-dropdown {
  position: relative;
  width: 200px;

  &.team {
    width: 400px;

    @media (max-width:1240px) {
      max-width: 326px;
    }

    @media (max-width:425px) {
      max-width: 286px;
    }
  }
  
  .selected-option {
    width: 100%;
    background: #EEF9FF;
    color: $l-blue;
    position: relative;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 5px #495057 solid;
      border-right: 5px transparent solid;
      border-left: 5px transparent solid;
      position: absolute !important;
      right: 10px;
      margin: 0;
    }
  }
  
  .list-options {
    height: 0;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -85px;
    z-index: 2;
    overflow: hidden;
    background-color: #fff;
    
    &.show {
      height: calc(32px*2 + 25px);
    }
    
    .dropdown-item {
      border-bottom: 1px solid rgba(188, 191, 198, 0.44);
      padding: 10px 25px;
      width: 100%;

      &:last-child {
        border: 0;
      }
    }
  }
}

.sub-section{
  border-top: 1px solid  rgba(188, 191, 198, 0.44);
  border-bottom: 1px solid rgba(188, 191, 198, 0.44);
}
.account-edit-section-inputs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width:600px) {
    width:100%;
  }
}

.account-edit-section-edit-btn {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  height: auto;
  position: relative;

  a{
    display:flex;
    justify-content:center;
    align-items:center;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    width:158px;
    height:48px;
    background: #05A4F4;
  }

  &.disabled-btn {
    a {
      background-color: #E4E4E4;
      color: #A1A7AF;
    }
  }

  &.picture-box {
    border: 2px $l-blue dashed;
    background-color: #F2FBFF;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    width: 384px;
    height: 222px;

    input[type='file'] {
      display: none;
    }

    &.file-upload {
      border: 0;
      background-color: transparent;
    }
  }
}

.step-footer {
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
  color: #7A828D;

  @media (max-width:600px) {
    bottom: 30px;
    left: 40px;
  }
}

.account-edit-section .faq-question-input .img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: 0 30px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 46px;
    }

    span {
      margin-top: 10px;
    }
  }
}

.fake-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #218dce;
  color: white;
  text-align: center;
  
  &.btn {
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 0.75rem;
    font-weight: normal;
  }

  &.btn-orange {
    background-color: #FFA368;
    font-weight: bold !important;
  }

  &:hover {
    cursor: pointer;
  }

  & > * {
    position: absolute;
  }

  input {
    opacity: 0;
    z-index: 2;

    &:hover {
      cursor: pointer;
    }
  }
}

.faq-question-input .faq-input input.radio-option {
  width: 18px;
  height: 18px;
  opacity: 0;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.faq-question-input .faq-input .recording-button {
  color: $l-blue;
  font-weight: 500;

  img {
    margin-left: 0;
    margin-right: 10px;
  }

  &:hover {
    text-decoration: none;
  }
}

.dropzone {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
}

#dropzone {

  a {
    background-color: $l-blue;
    color: white;
    padding: 10px;
    text-align: center;
    min-width: 150px;
    border-radius: 4px;
  }

  .dz-image {
    width: 120px;
    height: 120px;
    img {
      border-radius: 50%;
    }
  }

  &.dz-remove {
    color: $l-blue;
    background-color: #fff;
    border: 2px solid $l-blue;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    // height: 60px;
    width: 200px;
    font-weight: 500;

    &:hover {
      color: $l-blue;
    }
  }

  .dz-preview {
    height: 200px;
    position: relative;
    
  
    .dz-details,
    .dz-error-message,
    .dz-error-mark,
    .dz-success-mark {
      display: none;
    }
  }
}

.dz-message {
  text-align: center;
}

.preview-files-container {
  display: flex;
  align-content: center;

  .preview-container,
  .dz-preview {
    display: flex;
    justify-content: center;
    width: 120px;
    font-size: 16px;
    color: #4A5464;
  }

  .preview-container {
    margin-right: 74px;
  }

  .dz-preview {
    position: relative;
  }

  .dz-details {
    width: 100%;
  }
  
  .filename {
    text-overflow: ellipsis;
  }

  .thumbnail-container {
    width: 118px;
    height: 118px;
    background: #EFF3FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 !important;
    }
  }

  .menu-preview {
    position: absolute;
    opacity: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    top: 40px;
    left: 70px;
    width: 230px;
    z-index: 20;
    transition: .5s;

    a {
      color: #4A5464;
      width: 100%;
      border-bottom: 1px solid #E0E0E0;
      padding: 10px 20px;

      &:last-child {
        border: none;
      }
    }

    &.show {
      opacity: 1;
      transition: .5s;
    }
  }

  .icon-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .dz-image,
  .dz-error-mark,
  .dz-error-message,
  .dz-success-mark,
  .dz-size,
  .dz-filename {
    display: none;
  }

  .add-document-container {
    margin-right: 74px;

    img {
      height: 34px;
      width: 27.2px;
    }

    .thumbnail-container {
      position: relative;
    }

    input {
      opacity: 0;
      width: 100%;
      position: absolute;
      height: 100%;
      
      &:hover {
        cursor: pointer;
      }
    }

    a {
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
