body{
  background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%);
  overflow-x: hidden;
  width: 100%;
  margin-top: 72px;
  font-family: Roboto !important;
}

.py-4{
  @media only screen and (max-width: 600px){
    padding-top:0 !important;
  }
}

.customContainer{
  padding : 0 0 0 8.50%;
  @media only screen and (max-width: 991px){
    padding:0;
  }

}


#photoPreview{
  border: 1px solid #D5D8DE;	border-radius: 4px;
  width: 257px;
  height: 257px;
  @media only screen and (max-width: 600px){
    height: auto ;
    width: 100%;
  }
}

#profileImgBox{
  width: 257px;
  height: 257px;
  @media only screen and (max-width: 600px){
    height: auto ;
    width: 100%;
  }
}

// slick :
.successMessage{
  margin-top: 30px;
  opacity: .7;
}

// navbar

.navbar.fixed-top{
  height:50px !important;
  @media only screen and (max-width: 600px){
    height: auto !important;
  }
}
.customNav{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: white;
}

.customNavLink{
  :hover{
    color: #18A6DF !important;
  }
  outline: none;
  opacity: 0.75;
  color: #637280 !important;
  font-family: Roboto !important;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 13px;
  padding-top: 18px;
  &.active{
    color: #18A6DF !important;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: bold;
  }
  @media only screen and (max-width: 600px){
    padding-top: 26px;
  }
}

.navbar-brand{
  margin-right: 0px !important;
  @media only screen and (max-width: 991px){
    margin-right: 35px !important;
  }
  @media only screen and (max-width: 600px){
    margin-right: 0 !important;
  }
  img{
    width: 140px;
    @media only screen and (max-width: 600px){
      width:140px;
    }
  }
}

.loginBtnHolder{
  margin-left: auto;
}
.loginBtn{
  a{
    outline: none;
  }
  padding: 6px 25px 7px 25px;
  border: 1px solid rgba(24, 166, 223, 0.3);
  border-radius: 25px;
  margin-right: 35px;
  font-weight: bold;
  margin-left: 300px;
  @media only screen and (max-width: 600px){
    margin-right: 0px;
    margin-left: 25%;
    text-align: center;
    width: 50%;
  }
  text-decoration: none !important;
  :hover{
    text-decoration: none !important;
  }
}

.nav-link.loginBtn{
  margin-left: 0px;
  width: 100%;
  text-align: center;
  a{outline: none;}
}

// first section freelancer info :

.freelancerItem{
  margin-top: 2.5%;
  padding-bottom: 10px;
}

.freelancerImg{
  border-radius: 50%;
  padding: 3px;
  border: 2px solid rgba(24, 166, 223, 0.3);
}

.freelancerName{
  color: #30323D;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  padding: 5px 0 5px 0 ;
}

.freelancerJob{
  color: #697786;	font-family: Roboto;
  font-size: 16px;	line-height: 19px;	text-align: center;
}

.line{
  background-color: #F8F8F8;
  transform: scaleY(-1);
  padding : 2px 0 0 0;
  margin-top: 5px;
}

.socialIcons{
  text-align: center;
  padding: 10px;
  img{
    width: 20px;
  }

  .imgText{
    color: #697786;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding-left: 5px;
  }
}

.row{
  margin-right: 0!important;
  margin-left: 0!important;
}

.buttonMain.whiteBg{
  :hover{
    background: aliceblue !important;
  }
}
.buttonMain{
  padding : 5% 0 0 0;
  margin-top: 20px;
  outline: none;
  :hover{
    background: #44E5EF !important;
    cursor: pointer;
    outline:none;
  }
  @media only screen and (max-width: 768px){
    text-align: center;
    padding : 1% 0 0 0;
  }
  text-decoration: none;
  a:hover{
    text-decoration: none;
  }
  .hireBtn{
    outline: none;
    border-radius: 24px;
    background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
    padding: 13px 0 13px 0;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 8px 15px lightblue;
    border: 0;
    @media only screen and (max-width: 600px){

    }

  }
  .hireBtn.hire{
    background: white;
    box-shadow : none;
    padding: 11px 0 11px 0;
    border: 2px solid #088FD9 ;
    color:#088FD9;
  }
}


// quote :
#quote{
  background: linear-gradient(90deg, #F8F8F8 0%, #FCFCFC 100%);
  margin-top: 5%;
  margin-bottom: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top:1px solid #F8F8F8;
  border-bottom:1px solid #F8F8F8;
  img{
    height: 50px;	width: 50px;	opacity: 0.5;
    @media only screen and (max-width: 768px){
      display: none;
    }
  }
  @media only screen and (max-width: 768px){
    margin-top: 50px;
  }

  .quoteText{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    @media only screen and (max-width: 768px) {
      padding: 10px;
      text-align: left;
    }
  }
}

// second navbar :

#cv_bar{
  background: none;
  height: 40px;
  border-bottom: 1px solid #F8F8F8;
  box-shadow: none;
}

.mobileNav{
  a{
    display: inline !important;
    padding: .25rem;
  }
  margin-bottom:30px ;
  text-align: center;
}

.secondNavLink{
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px;
  padding-right: 10px;
  &.active{
    color: #18A6DF;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: 300;
    padding-bottom:16px;
  }
}

.downCV{
  opacity: 0.75;
  color: #18A6DF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px;
  margin-left: 400px;
  @media only screen and (max-width: 600px){
    margin-left: 0px;
  }
  text-decoration: none !important;
  :hover{
    text-decoration: none !important;
  }
}

#about{
  margin-top:5%;
  .aboutLeftSideContainer{
    @media only screen and (max-width: 600px){
      padding-bottom: 50px;
    }
  }
  img{
    padding-bottom: 7px;
    @media only screen and (max-width: 991px){
      margin-left: 12px;
    }
  }
}
.aboutText{
  color: #6A6F72;
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  padding-left: 20px;
}

.aboutText.mobile{
  padding-left: 0;
}

.newLine{
  height: 2px;	width: 994px;	transform: scaleY(-1);	background-color: #F8F8F8;
}

.aboutSubText{
  color: #697786;	font-family: Roboto;
  font-size: 20px;	font-weight: 300;	line-height: 24px;
  padding-top: 15px;
  padding-left: 20px;
  @media only screen and (max-width: 600px) {
    padding-left: 0;
  }
}

.aboutSubText.skillBullets{
  padding-left: 28px;
  @media only screen and (max-width: 600px) {
    padding-left: 6px;
  }

}
.aboutSubText.skillBars{
  padding-left: 37px;
  @media only screen and (max-width: 600px) {
    padding-left: 0px;
  }
}

.circle:before {
  content: ' \25CF';
  font-size: 8px;
  color: #DAD9DA;
  border: 1px solid #DAD9DA;
  background: #DAD9DA;
  border-radius: 50%;
  padding: 0 1px 0 1px;
  margin: 9px;
}

.mobileCenter{
  @media only screen and (max-width: 600px){
    text-align: center;
    margin-right: auto;
  }
}
// vidoe introduction section :

#video{
  padding-bottom: 20px;
  .videoHeading{
    @media only screen and (max-width: 600px){
      padding-bottom: 20px;
      padding-left : 25px;
    }
  }
  img{
    height: 50px;	width: 50px;	opacity: 0.9;
  }
  .quoteText{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 1.5%;
    padding-left: 10px;
  }

  #videoResume{
    padding-top: 20px;
  }
}
// audio introduction section

#audio{
  background: linear-gradient(90deg, #F8F8F8 0%, #FCFCFC 100%);
  margin-top: 5%;
  margin-bottom: 3%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top:1px solid #F8F8F8;
  border-bottom:1px solid #F8F8F8;
  .audioHeading{
    @media only screen and (max-width: 600px){
      padding-bottom: 20px;
      padding-left : 25px;
    }
  }
  img{
    height: 50px;	width: 50px;	opacity: 0.9;
  }
  .quoteText{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 1.5%;
    padding-left: 10px;
  }
}


// education and trainings

.aboutSubText{
  .year{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    .circle:before{
      background: white;
      color: white;
      padding: 0 3px 0 3px;
      font-size: 11px;
    }
    .work{
      padding-left: 39px;
      font-size: 16px;
    }
  }
  .title{
    color: #697786;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    padding-left: 39px;
    word-spacing: .15rem;
    .circle:before{
      background: white;
      color: white;
      padding: 0 3px 0 3px;
      font-size: 11px;
    }
    &.work{
      padding-left: 0px;
    }
  }
  .desc{
    color: #C5A7FD;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 25px;
    padding-left: 39px;
    word-spacing: .15rem;
    @media only screen and (max-width: 991px){
      width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .company{
    color: #697786;
    font-family: Roboto;	font-size: 20px;
    font-weight: 300;	line-height: 24px;
    padding-left: 37px;
    padding-top:3px;
    padding-bottom: 3px;
  }
}


.continueBtn{
  font-size: small;
  color: lightgray;
  font-family: Roboto;
  text-decoration: none;
  a:hover{
    text-decoration: none;
  }
}

.education{
  padding-bottom: 4% !important;
  .educationSection{
    @media only screen and (max-width: 991px){
      padding-bottom: 50px;
    }
  }
}

// skills part :
.aboutSubText{
  word-wrap: break-word;
  .skill{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 0px;
    padding-top: 5px;
  }

  .bar{
    padding-top:7px ;
    width: 100%;
    background-color: #CAAFFE;
  }
}


// more skills section :

.skillBox{
  border: 1.5px solid #44E5EF;
  opacity: 0.5;
  padding:6px 20px 6px 20px ;
  border-radius: 21.5px;
  text-align: center;
  width: auto;
  margin: 10px;
}
.moreSkills{
  margin-right: 20px;
  padding-top: 25px;
  padding-left: 55px;
  @media only screen and (max-width: 600px) {
    padding-left: 20px;
  }
}

// works area
.worksSection{
  margin-top: 5%;
  padding-bottom: 5%;
  .firstPart{
    padding-top: 4%;
    padding-bottom: -1%;
    background: url("/background.svg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    #workTextImg{
      margin-left: 16px;
    }
  }
  .worksText{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 25px;
    line-height: 29px;
  }
}

.workCard{
  background: white;
  margin-top: 6%;
  padding: 2%;
  margin-left: 39px;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED;
  height: 285px !important;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
  }
  .workImg{
    height: 205px;
    overflow: hidden;
    border-bottom:1px solid lightgray;
   img{
     width: 100%;
     padding: 1%;
   }
  }
  .workTitle{
    color: #697786;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 20px 0px 20px 0;
    img{
      width: 20px;
    }
  }
}

// get in touch section ( styles from our clients section )
#ourClients{
  background:none;
  padding-top: 2%;
  img{
    padding-bottom: 7px;
    @media only screen and (max-width: 991px){
      margin-left: 12px;
    }
  }
}
.clientsBox{
  height: auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED;
  .leftSide{
    padding: 2%;
    padding-top: 4%;
  }
  margin: 2% 5% 0 5%;
  @media only screen and (max-width: 991px){
    height: auto;
  }
}

.formLabel{
  opacity: .7;
  color:#18A6DF;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}

.form{
  padding: 5%;
}

.no-border{
  border-top:0 ;
  border-right:0 ;
  border-left:0 ;
}


// footer section :


.footerText{
  opacity: 0.4;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  @media only screen and (max-width: 600px) {
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a:hover{
    text-decoration: none;
  }
}

.skypeText{
  a:hover{
    text-decoration: none;
  }
  span{
    opacity: 0.4;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

.customFooter{
  padding-top: 6%;
  padding-bottom: 20px;
  @media only screen and (max-width: 600px) {
    height: auto;
    text-align: center;
  }

  .footerImg{
    img{
      width: 60px;
      opacity: .5;
    }
  }
}

.info{
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}


/*MAP*/
.location-map {
  border-radius: 5px;
  box-shadow: 0 11px 16px -7px #E5ECED;
  margin-top: 10px;
}
.map-canvas {
  height: 170px;
}

#skills{
  padding-top:5%;
  padding-bottom: 2%;
  img{
    padding-bottom: 7px;
    @media only screen and (max-width: 991px){
      margin-left: 12px;
    }
  }
}

#work{
  padding-top:4%;
  background: none;
}


// client register page :

.forgotText{
  a{
    font-size: small;
    border-bottom: 1px solid;
  }
  a:hover{
    text-decoration: none;
  }
}

.customFormHeader{
  color: #697786;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.clientForm{
  padding-top: 3%;
  .formLabel{
    color: #A6A9BE;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 16px;
    a:hover{
      text-decoration: none;
    }
  }

  .buttonMain{
    padding-top: 0;
  }

  .rememberText{
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 16px;
  }

  .smallText{
    padding-top: 16px;
    color: #A6A9BE;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 16px;	text-align: center;
    span{
      color: #4A90E2;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: 0.1px;
      line-height: 16px;
      a:hover{
        text-decoration: none;
      }
    }
  }

}

#content{
  .lineDivider{
    transform: scaleY(-1);
    padding : 3px 0 0 0;
    width: 30px;
    background-color: #30323D;
    margin-top: 8px;
  }
  .line{
    transform: scaleY(-1);
    background-color: whitesmoke;
    padding : 3px 0 0 0;
  }

  // main section ( one )
  // heading :
  #mainSection{
    background: url('/resumeApp/resources/views/customTheme/images/new_theme/rectangle_big.png');
    background-position-x:right ;
    background-position-y: 2% ;
    background-size:14% 100% ;
    background-repeat:no-repeat;
    border-bottom: 2px solid #F8F8F8;
    padding-bottom: 50px;
    @media only screen and (max-width: 768px){
      background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%);
    }
  }
  .mainSectionHeading{
    padding : 30px 0 30px 0;
    color: #30323D;
    font-family: Roboto;
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    span{
      color: #18A6DF;
    }
    @media only screen and (max-width: 991px){
      font-size: 28px;
      font-weight: bold;
      line-height: 30px;
      text-align: center;
    }
  }
  .mainSectionSubHeading{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;	font-weight: 300;
    line-height: 24px;
    padding :0;
    @media only screen and (max-width: 991px){
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 20px;
    }
  }

  .buttonMain{
    :hover{
      background: #44E5EF !important;
      cursor: pointer;
      outline:none;
    }
    padding: 20px 0 60px 0;
    @media only screen and (max-width: 991px){
      text-align: center;
    }
    text-decoration: none;
    a:hover{
      text-decoration: none;
    }
    .hireBtn{
      border-radius: 24px;
      background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 19px;
      text-align: center;
      box-shadow: 0px 8px 15px rgba(0, 0, 255, 0.3);
      border: 0;
    }
  }

  // freelancers section

  .secondSectionHeading{
    padding : 4% 0 2% 0;
    color: #30323D;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
    span{
      color: #18A6DF;
    }
    @media only screen and (max-width: 600px) {
      padding-left: 5%;
    }
  }

  /* Freelancers' boxes*/
  .freelancerItem{
    text-decoration: none;
    text-align: center;
    img{
      margin: auto;
    }
  }

  .slickFreelancerImg{
    border-radius: 50%;
    width: 110px;
    opacity: 0.9;
    background: linear-gradient(135deg, #32FBFC 0%, #3214F2 100%);
    box-shadow: 0 2px 4px 0 rgba(8,38,168,0.15);
    @media only screen and (max-width: 600px) {
      width: 90px;
    }
  }

  .freelancerBox{
    transition-duration: 300ms;
    a{outline: none;}
  }
  .freelancerBox:hover{
    -ms-transform: translateY(-2px); /* IE 9 */
    -webkit-transform: translateY(-2px); /* Safari */
    transform: translateY(-2px);
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    transition-duration: 300ms;
  }

  .textImg{
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 14px;
  }


  .itemLink:hover{
    text-decoration: none;
  }



  .freelancers{
    padding: 25px;
    text-align: left;
  }

  .freelancerName{
    color: #666666;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    padding-bottom:2px;
    white-space: nowrap;
    overflow: hidden;
    :hover{
      text-decoration: none;
    }
  }

  .freelancerJob{
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    padding-top:5px;
    white-space: nowrap;
    overflow: hidden;
    :hover{
      text-decoration: none;
      border: 0px;
    }
  }

  .freelancerData{
    padding: 6px 2px 6px 2px;
  }


  .freelancersHeading{
    font-size: 5vh;
    font-weight: bolder;
    padding-bottom: 35px;
    padding-top: 5px;
  }

  .slickSlide{
    padding-bottom: 25px;
  }

  .slick-next:before {
    color: black;
  }

  .slick-prev:before{
    color: black;
  }

  //  freelancer talent :
  #freelanceTalent{
    padding: 20px 0 10px 0 ;
    @media only screen and (max-width: 991px){
      padding-bottom: 45px;
    }
  }
  .talentText{
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px;
    @media only screen and (max-width: 600px){
      text-align: left;
      font-size: 16px;	font-weight: 300;
      padding-left: 17px;
    }
  }

  .mapImg{
    @media only screen and (max-width: 600px){
      padding-top: 20px !important;
    }
  }


  // dev designer boxes :

  #devDesBoxes{
    margin-top: 10px;
    background: url('/background.svg');
    background-size:100% 100% ;
    //tablet
    @media only screen and (max-width: 991px){
      background-size:100% 300px ;
      background-repeat: no-repeat;
    }
    // mobile
    @media only screen and (max-width: 600px){
      background-size:100% 100% ;
      background-repeat: no-repeat;
    }
  }

  .designerBox{
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    width: 100%;
    margin-top: 5%;

  }

  #developerBox{
    @media only screen and (max-width: 600px){
      padding: 20px;
    }
  }
  #designerBox{
    @media only screen and (max-width: 600px){
      padding: 20px;
    }
  }

  .borderRight{
    border-right: 1px solid #ECECEC;
    @media only screen and (max-width: 600px){
      border: 0;
    }
  }

  .designerLeftSide{
    padding-top: 18px;
    h2{
      opacity: 0.9;
      color: #464646;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 10px;
      @media only screen and (max-width: 600px){
        padding: 5px 0 0 0 !important;
      }
    }
    img{
      width: 50px;
    }
  }

  .designerRightSide{
    padding: 20px ;
    h2{
      opacity: 0.9;
      color: #273D52;
      font-family: Roboto;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 37px;
      img{
        width: 20px;
      }
      @media only screen and (max-width: 600px){
        font-size: 1.3rem;
        border-bottom: 1px solid #F1F1F1;
        border-top: 1px solid #F1F1F1;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: left;
      }
    }

    a{
      opacity: 0.9;
      color: #18A6DF;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      img{
        width: 2.5%;
      }
      :hover{
        text-decoration: none;
      }
    }

    .getStartBtn{
      img{
        width: 8px;
      }
      :hover{
        cursor: pointer;
      }
      a{outline: none;}
      border: 1px solid #D9F9FF;
      border-radius: 5px;
      background-color: #FFFFFF;
      color: #18A6DF;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
      padding: 10px;
      margin-top: 13px;
    }

  }

  // our clients section
  #ourClients{
    padding: 5% 8.5% 0 8.5%;
  }
  .heading{
    h2{
      color: #18A6DF;	font-family: Roboto;
      font-size: 30px;	font-weight: bold;	line-height: 35px;
      @media only screen and (max-width: 600px){
        text-align: left;
        padding-right: 14px;
        font-size: 22px;
        font-weight: bold;
        line-height: 25px;
      }
    }
  }

  .clientsBox{
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    .leftSide{
      padding: 4%;
      padding-top: 0px;
    }
    margin: 5% 5% 0 5%;
    @media only screen and (max-width: 600px){
      height: auto;
    }
  }

  // footer :
  .customFooter{
    padding-top: 6%;
    padding-bottom: 100px;
    @media only screen and (max-width: 600px) {
      height: auto;
      text-align: center;
    }

    .footerImg{
      img{
        width: 60px;
        opacity: .5;
      }
    }
  }
  .footerText{
    opacity: 0.4;
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    @media only screen and (max-width: 600px) {
      text-align: center !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .logoImg{
    padding-right: 20px;
    img{
      width: 25%;
      padding-top: 10%;
      opacity: .5;
    }
  }

  .designerBtn{
    margin-top:3%;
    :hover{
      text-decoration: none;
    }
    a{
      border-radius: 4px;
      padding: 5% 0 5% 0;
      opacity: 0.5;
      color: #000000;
      font-family: Roboto;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }
  }

  .form{
    padding: 5%;
  }

  .no-border {
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
}

// modal form  :

.modal-body{
  .clientForm{
    .formLabelModal{
      color: #A6A9BE;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: 0.1px;
      line-height: 16px;
    }
  }
}

.customModal{
  background: red;
}

/////////////////////////////////////////////////// freelancer form :

[id*="tickMark"]{
  background: none;
  font-size: small;
  font-weight: bolder;
  border-radius: 5px;
  //padding: 2px 4px 3px 4px;
  margin-left: 8px;
  text-align: center;
}
.registerBody{
  margin-top: 30px;
}
.registerHeading{
  color: gray;
  font-weight: bolder;
  text-align: center;
  margin-top:30% ;
  padding-bottom: 10px;
}

.registerMainText{
  color: black;
  text-align: center;
  padding-bottom: 10px;
}

.infoBar{
  padding-bottom: 20px;
}

.paddingBottomTop{
  padding-bottom: 10px;
  padding-top: 10px;
}

.pageHeading{
  color: #697786;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  @media only screen and (max-width: 991px) {
    font-size: 25px;
    margin-top: 80px;
  }
}

.pageSubHeading{
  color: #697786;	font-family: Roboto;
  font-size: 16px;	font-weight: bold;
  line-height: 19px;
  text-align: center;
  padding-top: 25px;
}
.pageSubHeading2{
  color: #697786;	font-family: Roboto;
  font-size: 14px;	font-weight: 300;	line-height: 16px;	text-align: center;
  padding-top: 12px;
}


.carousel-item.active{
  .tabsArea{
    .tabText{
      border-bottom: 2px solid  #AC81FC;
    }
  }
}

.tabsArea{
  padding-top: 30px;
  .tabText{
    opacity: 0.75;
    color: #919CA5;
    border: 0;
    font-family: Roboto;
    padding-top: 5px;
    margin-left: 6px;
    white-space: normal;
    width: 147px;
    height: 155px;
    border-bottom: 2px solid lightgray;
    @media only screen and (max-width: 991px) {
      width: auto;
      padding-top: 0;
      height: 80px;
    }

  }
  .tabCircle{
    background-color: #FCFCFC;
    margin-bottom: 8%;
    max-width: 45px;
    padding: 12px 0px 8px 0px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    color: #919CA5;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  .active{
    .tabCircle{
      background-color: #919CA5 !important;
      color: white !important;
      font-weight: bold;
    }
    font-weight: bold;
  }

  .nav-item{
    .active{
    }
  }
}

.panel{
  padding: 0px;
}
.nav-tabs {
  border-bottom: 0 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%) !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 2px solid #AC81FC;
}

.panelHeading{
  padding-top: 15px;
  color: #697786;	font-family: Roboto;
  font-size: 35px;
  font-weight: 300;	line-height: 35px;
  padding-bottom: 12px;
  @media only screen and (max-width: 600px) {
    font-size: 28px;
    padding-top: 0px;
  }
}



.panelFormLabel{
  color: #A6A9BE;	font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  margin-top: 5px;
  span{
    img{
      padding: 0 !important;
    }
  }
}
.panelFormInput{
  border: 1px solid #D5D8DE;	border-radius: 4px;
  height: 50px;
}

.checkBoxText{
  color: #697786;	font-family: Roboto;
  font-size: 14px !important;	font-weight: bold;
  letter-spacing: 0.1px;
  padding-left: 25px !important;
}

.salaryText{
  color: green;	font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  font-weight: bold;
  padding-top: 5px;
}
///////////////////////////////

.nextBtnStyle{
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.applyBtn{
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.carouselArrows{
  background-color: #544e4e !important;
  border-radius: 30%;
  width: 20px;
}
.carouselTabs{
  padding: 10px;
}


// emails styles :

.greeting{
  color: #0290D8;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}

.mailHeader{
  padding-top: 100px;
  padding-bottom: 50px;
}

.mailBody{
  background: white !important;
  padding: 50px;
}

.mailText{
  color: #697786;	font-family: Roboto;	font-size: 16px;	line-height: 19px;
}

// changes saved :
.changesSavedText{
  border-radius: 5px 5px 0 0 !important;
  position: fixed;
  height: 38px;
  bottom: 38px;
  right: 32px;
  width: 173px;
  @media only screen and (max-width: 600px) {
    margin-left: -85px;
    left: 50%;
  }
}

// chat styles
.chatWithUsText{
    margin-left: auto;
}

.chat-composer{
  input{
    box-shadow: none !important;
  }
  #chatIcon{
    width: 60px;
    height: 45px;
    background: url(/resumeApp/resources/views/customTheme/images/send-icon.png);
    background-size: 86px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    pointer-events: none;
    cursor: default;
  }
  a:hover{
    cursor: pointer;
  }
}

.chatMinimized{
  border-radius: 5px 5px 0 0 !important;
  position: fixed;
  height: 38px;
  bottom: 0;
  right: 32px;
  width: 173px;
  @media only screen and (max-width: 600px) {
    margin-left: -85px;
    left: 50%;
  }
  a:hover{
    text-decoration: none;
  }
  .chatImage{
    background-color: #088FCB;
    padding: 10px 13px 10px 12px;
    border-right:3px solid #088FCB;
    border-radius: 5px 0 0 0 !important;
  }
  .text{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 19px;
    border-radius: 0 5px 0 0 !important;
    padding: 10px 13px 10px 12px;
    background: linear-gradient(270deg, rgb(69,230,239), rgb(8,143,217));
  }
}

#chatBox{
  opacity: 0;
  height: 454px;
  width: 285px;
  border-radius: 5px;	background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18), 0 7px 16px -7px #8A96A0;
  position: fixed;
  bottom: 0px;
  color: black;
  z-index: 9999;
  margin: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0 0 20px 0;
  margin-bottom: -8px;
  @media only screen and (max-width: 600px) {
    height:100%;
    width:100%;
    margin:0;
    bottom: 0px !important;
    right: 0px !important;
  }
}

#messagesBox{
  overflow-y: auto;
  overflow-x: hidden;
  height: 265px;
  width: 280px;
  padding-left: 15px;

  @media only screen and (max-width: 600px) {
    width:100%;
    height: 290px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.chatHeading{
  z-index: 15 !important;
  position: fixed;
  width: 285px;
  .chatImage{
    background-color: #088FCB;
    padding: 12px 11px 8px 17px;
    border-right:3px solid #088FCB;
  }
  .text{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 19px;
    padding: 13px 13px 9px 10px;
    background: linear-gradient(270deg, rgb(69,230,239), rgb(8,143,217));
  }
  .secondText{
    margin-top: 0 !important;
    padding: 3px 10px 5px 10px;
    background-color:rgba(255, 255, 255,1);
    span{
      padding-left: 20px;
    }
  }
  @media only screen and (max-width: 991px) {
    width:100%;
  }
}


#closeChat{
  padding-left:75px;
  @media only screen and (max-width: 600px) {
    padding-left:45%;
  }
}

.text-chat{
  padding: 10px;
}

.name{
  opacity: 0.6;	color: #697786;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.08px;
  line-height: 14px;
  padding-bottom:20px;
  padding-top:4px;
}

.messageText{
  border-radius: 0px 10px 10px 10px;
  background-color: #0D96DB;
  padding:11px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
}
.messageTextAdmin{
  border: 1px solid #D5D8DE;
  border-radius: 10px 0 10px 10px;
  background-color: #FFFFFF;
  padding:11px;
  color: #697786;	font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.messageTextVisitor{
  border-radius: 10px 10px 10px 10px;
  background-color: #b3d7ff;
  padding:11px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
}

.chatMessageInput{
  border-radius: 5px;
}

//////////////////////////////// check boxes styling /////////////////////////////

/* The container */
.checkBoxContainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white ;
  border: 1px solid #eee;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: #AC81FC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/// delete and browse btns :

.deleteBtn{
  border: 1px solid rgba(223,24,24,0.3);
  background: none;
  border-radius: 4px;
  height: 50px;
  padding-top: 18px;
  // text
  color: #FF5E71;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    margin-top: 10px;
  }
}

.browseBtn{
  border: 1px solid rgba(24,166,223,0.3);
  border-radius: 4px;
  background: none;
  height: 50px;
  padding-top: 18px;
  // text
  color: #18A6DF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;

  @media only screen and (max-width: 600px) {
    margin-top: 10px;
  }

}


/// test

#mytabs{
  @media only screen and (max-width: 1000px) {
    width:100%;
    height:150px;
    white-space: nowrap !important;
    display: inline-block!important;
    position: relative;
    overflow-x:scroll;
    overflow-y:hidden;
    ::-webkit-scrollbar {
      width: 3px;
    }
  }
  @media only screen and (max-width: 991px) {
    height:90px;
  }
}

#mytabs li{
  @media only screen and (max-width: 1000px) {
    width:147px;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
  }
}

// footre :
.container1 div {
  display: inline-block;
}

@media screen and (max-width: 531px) {
  .container1 { display: flex; flex-flow: column; }
  .five { order: 5; }
  .four { order: 4;
    text-align: right;
    @media screen and (max-width: 531px) {
      text-align: center !important;
    }
  }
  .three { order: 3;
  }
  .two { order: 2; }
  .one { order: 1;
    text-align: right;
    @media screen and (max-width: 531px) {
      text-align: center !important;
    }
  }
}

.workExperience{
  color: #697786;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin:20px;
  line-height: 24px;
  border:1px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  span{
    padding-left: 5px;
  }
}

#addWorkText{
  outline: none;
  span{
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    outline: none;
  }
}


#addProjectText{
  outline: none;
  span{
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    outline: none;
  }
}


.noHoverEffect{
  a:hover{
    text-decoration: none;
  }
}


.modal-lg {
  max-width: 80% !important;
}

.workDescModal{
  padding-top: 20px;
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

// ---------- admin info styles ----------- //

.addDesigner{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
}

.cardIconsCon{
  border-radius: 23.5px;
  padding: 10px 14px 8px 14px;
  background-color: #00B0F3;
  @media only screen and (max-width: 900px) {
    margin-bottom: 7px;
    margin-top: -10px;
  }
}

.modal-card-name{
  color: #18A6DF;	font-family: Roboto;	font-size: 18px;	font-weight: bold;	letter-spacing: 0.12px;	line-height: 21px;
}

.modal-card-subName{
  opacity: 0.75;
  color: #637280;	font-family: Roboto;
  font-size: 14px;	font-weight: 500;
  letter-spacing: 0.1px;	line-height: 16px;
  padding-top: 4px;
}

.card-audio-con{
  background-color: #ffffff;
  box-shadow: 0 11px 16px -7px rgba(229,236,237,0.5);
  padding-top: 15px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.cardIconsCon2{
  border-radius: 23.5px;
  padding: 10px 14px 8px 14px;
  background-color: #00B0F3;
}


.resumeExpand{
  background-color: #FFFFFF;	box-shadow: 0 2px 4px 0 rgba(203,203,203,0.5);
  padding:15px 0 0 0;
}

.fullCV{
  padding:15px 0 15px 0 ;
  border-bottom: 1px whitesmoke solid;
  border-top: 1px whitesmoke solid;
}

.freelancerCard{
  background-color: #FFFFFF;	box-shadow: 0 2px 4px 0 rgba(203,203,203,0.5);
  padding:0;

  .resumeCardLeft{
    border-right: 1px solid #E5ECED;
    background-color: #FDFDFD;
    .cardRow{
      text-align: center;
      padding-top:25px ;
    }
    .hoursBtn{
      border: 1px solid #D5D8DE;
      border-radius: 4px;
      background-color: #FFFFFF;
      height: 43px;
      color: #30323D;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      line-height: 19px;
    }
    .imageContainer{
      height: 196px;
      border-bottom: 1px solid #EBEDEF;
      padding-top: 30px;
      @media only screen and (max-width: 769px) {
        border-bottom:0;
      }
    }
  }

  .resumeCardRight{
    padding-top: 15px;
    @media only screen and (max-width: 769px) {
      padding-top: 0;
    }
    .nameRow{
      height: 106px;
      @media only screen and (max-width: 769px) {
        height: 130px;
      }
    }
    .portfolioRow{
      height: 370px;
      @media only screen and (max-width: 769px) {
        height: auto;
      }
    }
  }
  .skillsRow{
    @media only screen and (max-width: 767px) {
      margin-top:70px;
      padding-top: 15px;
      border-top: 1px solid #EBEDEF;
    }
  }
  .nameArea{
    text-align: left;
    @media only screen and (max-width: 769px) {
      text-align: center;
    }
  }
  .nameCard{
    @media only screen and (max-width: 766px) {
      font-size: 20px;
      padding-left: 0;
    }
    padding-top: 16px;
    padding-left: 10px;
    color: #30323D;	font-family: Roboto;	font-size: 24px;	font-weight: bold;	line-height: 35px;
  }
  .audioTransArea{
    @media only screen and (max-width: 769px) {
      padding-left: 24px;
      padding-top: 10px;
    }
  }
  .videoArea{
    @media only screen and (max-width: 769px) {
      padding-left: 30px;
      padding-top: 10px;
    }
  }
  .hireBtnArea{
    @media only screen and (max-width: 769px) {
      padding-bottom: 30px;
    }
  }
  .jobTitle{
    padding-left: 10px;
    color: #697786;	font-family: Roboto;	font-size: 14px;	line-height: 19px;
    font-weight: normal;
  }
  .skillsCard{
    color: #697786;	font-family: Roboto;	font-size: 16px;	font-weight: 300;	line-height: 24px;
    padding-top: 10px; padding-left: 10px;
  }
  .cardLabel{
    color: #4E75E8;	font-family: Roboto;	font-size: 16px;	line-height: 19px;
    font-weight: 500;
  }
  .cardLabel_interviews{
    color: #697786;	font-family: Roboto;	font-size: 16px;	line-height: 19px;
    font-weight: 400;
    padding-top: 14px;
  }
  .interviewIcons{
    padding-top: 30px;
    @media only screen and (max-width: 769px) {
      border-top:1px solid whitesmoke ;
      padding-top: 10px;
    }
  }
  .dropDownBtnRight{
    text-align:right;
    @media only screen and (max-width: 769px) {
      text-align:center;
    }
  }
  .dropDownBtnText{
    padding-left: 8px;
    color: #00B0F3;
    @media only screen and (max-width: 769px) {
      padding-left: 0;
    }
  }

  .dropDownBtnLeft{
    text-align:left;
    @media only screen and (max-width: 769px) {
      text-align:center;
    }
  }

  .freelancerCardLeft{
    text-align:center;
    padding-left: 3px;
    @media only screen and (max-width: 769px) {
      padding-bottom: 30px;
    }
  }

  .freelancerCardRight{
    .panelFormLabel{
      padding-bottom: 4px;
      @media only screen and (max-width: 720px) {
        padding-bottom: 10px;
      }
    }
  }
}

.transcript{
  padding: 25px 40px 15px 49px;
  opacity: 0.75;	color: #637280;	font-family: Roboto;	font-size: 18px;	letter-spacing: 0.12px;	line-height: 21px;
}

.audioText{
  color: #FFFFFF;	font-family: Roboto;	font-size: 16px;	line-height: 19px;
}
.NoDecor{
  a{
    outline: none;
  }
  a:hover{
    text-decoration: none;
  }
}
.adminBox{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 30px 10px 0 0px;
  padding: 20px;
  height: auto;
}

.fixedTabs{
  @media only screen and (max-width: 1200px){
    position : relative;
    width: 100%;
  }

  position: fixed;
  width: 15%;
}

.modal-mobile-resume{
  @media only screen and (max-width: 760px) {
    margin-left: 35px;
    margin-top: 35px;
  }
}

// freelancers search :

.searchFreelancers{
  padding-right: 10px;
  border-right:1px solid lightgray;
}

#termsBar{
  width: 100%; z-index: 9999999; background: white;
  text-align: center;
  padding: 10px;
  height: 60px; position: fixed; bottom: 0;
  box-shadow: black;
}

.tap-to-chat{
  color: #4E75E8;	font-family: Roboto;	font-size: 12px;	font-weight: bold;	line-height: 11px;
  padding-left: 10px; padding-top:6px;
  a{
    color: #4E75E8;
  }
}

.border-bottom-mobile{
  @media only screen and (max-width: 760px) {
   border-bottom: 1px solid #EBEDEF;
    padding-bottom: 25px;
  }
}