body {
  background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%);
  overflow-x: hidden;
  width: 100%; }

.customContainer {
  padding: 0 0 0 8.50%; }
  @media only screen and (max-width: 600px) {
    .customContainer {
      padding: 0; } }

.customNav {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: white; }

.customNavLink {
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 16px;
  text-align: center; }
  .customNavLink.active {
    color: #18A6DF;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: 300;
    padding-bottom: 10px; }

.navbar-brand img {
  width: 75%; }

.navbar-collapse.collapse.in {
  display: block !important; }

.loginBtnHolder {
  margin-left: auto; }

.loginBtn {
  padding: 6px 25px 7px 25px;
  border: 1px solid rgba(24, 166, 223, 0.3);
  border-radius: 25px;
  margin-right: 35px;
  font-weight: bold;
  margin-left: 300px;
  text-decoration: none !important; }
  @media only screen and (max-width: 600px) {
    .loginBtn {
      margin-left: 0px; } }
  .loginBtn :hover {
    text-decoration: none !important; }

.freelancerItem {
  margin-top: 2.5%;
  padding-bottom: 10px; }

.freelancerImg {
  border-radius: 50%;
  width: 20.2%;
  padding: 3px;
  border: 2px solid rgba(24, 166, 223, 0.3); }

.freelancerName {
  color: #30323D;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  padding: 5px 0 5px 0; }

.freelancerJob {
  color: #697786;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  text-align: center; }

.line {
  background-color: #F8F8F8;
  transform: scaleY(-1);
  padding: 2px 0 0 0;
  margin-top: 5px; }

.socialIcons {
  text-align: center;
  padding: 10px; }
  .socialIcons img {
    width: 20px; }
  .socialIcons .imgText {
    color: #697786;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding-left: 5px; }

.buttonMain {
  padding: 5% 0 0 0;
  margin-top: 20px;
  text-decoration: none; }
  @media only screen and (max-width: 600px) {
    .buttonMain {
      text-align: center;
      padding-top: 13%; } }
  .buttonMain a:hover {
    text-decoration: none; }
  .buttonMain .hireBtn {
    border: 1px solid #44E5EF;
    border-radius: 24px;
    background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
    padding: 13px 0 13px 0;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); }
  .buttonMain .hireBtn.hire {
    background: white;
    color: #088FD9; }

#quote {
  background: linear-gradient(90deg, #F8F8F8 0%, #FCFCFC 100%);
  margin-top: 5%;
  margin-bottom: 1%;
  padding: 20px; }
  #quote img {
    height: 50px;
    width: 50px;
    opacity: 0.5; }
  #quote .quoteText {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px; }

.secondNavLink {
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px; }
  .secondNavLink.active {
    color: #18A6DF;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: 300;
    padding-bottom: 10px; }

.downCV {
  opacity: 0.75;
  color: #18A6DF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px;
  margin-left: 400px;
  text-decoration: none !important; }
  @media only screen and (max-width: 600px) {
    .downCV {
      margin-left: 0px; } }
  .downCV :hover {
    text-decoration: none !important; }

#about {
  margin-top: 5%; }

.aboutText {
  color: #6A6F72;
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px; }

.aboutSubText {
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 15px; }

.circle:before {
  content: ' \25CF';
  font-size: 11px;
  color: #FCFCFC;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 0 3px 0 3px;
  margin: 3px; }

#audio {
  background: linear-gradient(90deg, #F8F8F8 0%, #FCFCFC 100%);
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 20px; }
  #audio img {
    height: 50px;
    width: 50px;
    opacity: 0.9; }
  #audio .quoteText {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 1.5%; }

.aboutSubText .year {
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; }
.aboutSubText .title {
  color: #697786;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 20px; }
.aboutSubText .desc {
  color: #C5A7FD;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 25px;
  padding-left: 20px; }

.education {
  padding-bottom: 4% !important; }

.aboutSubText .skill {
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 0px;
  padding-top: 5px; }
.aboutSubText .bar {
  padding-top: 7px;
  width: 100%;
  background-color: #CAAFFE; }

.skillBox {
  border: 1.5px solid #44E5EF;
  opacity: 0.5;
  padding: 6px 20px 6px 20px;
  border-radius: 21.5px;
  text-align: center;
  width: auto;
  margin: 10px; }

.moreSkills {
  margin-right: 20px;
  padding-top: 25px; }

.worksSection {
  margin-top: 5%;
  padding-bottom: 5%; }
  .worksSection .firstPart {
    padding-top: 4%;
    padding-bottom: -1%;
    background: url("/resumeApp/resources/views/customTheme/images/newResume/background.svg"); }
  .worksSection .worksText {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 25px;
    line-height: 29px; }

.workCard {
  background: white;
  margin-top: 2%;
  padding: 2%;
  border: 1px solid #F7F7F7;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED; }
  .workCard .workImg img {
    width: 100%;
    padding: 1%; }
  .workCard .workTitle {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 3%; }
    .workCard .workTitle img {
      width: 20px; }

#ourClients {
  background: linear-gradient(0deg, #FCFCFC 0%, #FCFCFC 100%); }

.heading h2 {
  color: #6A6F72;
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  padding-top: 2%; }
  .heading h2 img {
    width: 30px; }
  @media only screen and (max-width: 600px) {
    .heading h2 {
      text-align: center;
      padding-right: 14px; } }

.clientsBox {
  height: 308px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED;
  margin: 2% 5% 0 5%; }
  .clientsBox .leftSide {
    padding: 4%; }
  @media only screen and (max-width: 600px) {
    .clientsBox {
      height: auto; } }

.formLabel {
  opacity: .7;
  color: #18A6DF;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px; }

.form {
  padding: 5%; }

.no-border {
  border-top: 0;
  border-right: 0;
  border-left: 0; }

.footerText {
  opacity: 0.4;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; }

.customFooter {
  height: 180px;
  padding-top: 6%;
  background: linear-gradient(0deg, #FCFCFC 0%, #FCFCFC 100%); }
  @media only screen and (max-width: 600px) {
    .customFooter {
      height: auto; } }
  .customFooter .footerImg img {
    width: 60px;
    opacity: .5; }

/*# sourceMappingURL=main.css.map */
