body {
  background: #f4f4f4;
  overflow-x: hidden;
  width: 100%;
  margin-top: 72px;
  font-family: Roboto !important; }

.py-4 {
  background: #f4f4f4; }
  @media only screen and (max-width: 600px) {
    .py-4 {
      padding-top: 0 !important; } }

.customContainer {
  padding: 0 0 0 8.50%; }
  @media only screen and (max-width: 991px) {
    .customContainer {
      padding: 0; } }

@media only screen and (max-width: 992px) {
  .showOnlyOnmd {
    display: none; } }

.showOnlyOnsm {
  display: none; }
  @media only screen and (max-width: 992px) {
    .showOnlyOnsm {
      display: block; } }

#photoPreview {
  border: 1px solid #D5D8DE;
  border-radius: 4px;
  width: 257px;
  height: 257px; }
  @media only screen and (max-width: 600px) {
    #photoPreview {
      height: auto;
      width: 100%; } }

#profileImgBox {
  width: 257px;
  height: 257px; }
  @media only screen and (max-width: 600px) {
    #profileImgBox {
      height: auto;
      width: 100%; } }

.successMessage {
  margin-top: 30px;
  opacity: .7; }

.navbar.fixed-top {
  height: 50px !important; }
  @media only screen and (max-width: 600px) {
    .navbar.fixed-top {
      height: auto !important; } }

.customNav {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: white; }

.customNavLink {
  outline: none;
  opacity: 0.75;
  color: #637280 !important;
  font-family: Roboto !important;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 13px;
  padding-top: 18px; }
  .customNavLink :hover {
    color: #18A6DF !important; }
  .customNavLink.active {
    color: #18A6DF !important;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: bold; }
  @media only screen and (max-width: 600px) {
    .customNavLink {
      padding-top: 26px; } }

.navbar-brand {
  margin-right: 0px !important; }
  @media only screen and (max-width: 991px) {
    .navbar-brand {
      margin-right: 35px !important; } }
  @media only screen and (max-width: 600px) {
    .navbar-brand {
      margin-right: 0 !important; } }
  .navbar-brand img {
    width: 140px; }
    @media only screen and (max-width: 600px) {
      .navbar-brand img {
        width: 140px; } }

.loginBtnHolder {
  margin-left: auto; }

.loginBtn {
  padding: 6px 25px 7px 25px;
  border: 1px solid rgba(24, 166, 223, 0.3);
  border-radius: 25px;
  margin-right: 35px;
  font-weight: bold;
  margin-left: 300px;
  text-decoration: none !important; }
  .loginBtn a {
    outline: none; }
  @media only screen and (max-width: 600px) {
    .loginBtn {
      margin-right: 0px;
      margin-left: 25%;
      text-align: center;
      width: 50%; } }
  .loginBtn :hover {
    text-decoration: none !important; }

.nav-link.loginBtn {
  margin-left: 0px;
  width: 100%;
  text-align: center; }
  .nav-link.loginBtn a {
    outline: none; }

.freelancerItem {
  margin-top: 2.5%;
  padding-bottom: 10px; }

.freelancerImg {
  border-radius: 50%;
  padding: 3px;
  background: #A4B7ED;
  border: 2px solid #A4B7ED; }
  @media only screen and (max-width: 325px) {
    .freelancerImg {
      height: 100px;
      width: 100px; } }

.freelancerName {
  color: #30323D;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  padding: 5px 0 5px 0; }

.freelancerJob {
  color: #697786;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  text-align: center; }

.line {
  background-color: #F8F8F8;
  transform: scaleY(-1);
  padding: 2px 0 0 0;
  margin-top: 5px; }

.socialIcons {
  text-align: center;
  padding: 10px; }
  .socialIcons img {
    width: 20px; }
  .socialIcons .imgText {
    color: #697786;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    padding-left: 5px; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.buttonMain.whiteBg :hover {
  background: aliceblue !important; }

.buttonMain {
  padding: 5% 0 0 0;
  margin-top: 20px;
  outline: none;
  text-decoration: none; }
  .buttonMain :hover {
    background: #44E5EF !important;
    cursor: pointer;
    outline: none; }
  @media only screen and (max-width: 768px) {
    .buttonMain {
      text-align: center;
      padding: 1% 0 0 0; } }
  .buttonMain a:hover {
    text-decoration: none; }
  .buttonMain .hireBtn {
    outline: none;
    border-radius: 24px;
    background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
    padding: 13px 0 13px 0;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 19px;
    text-align: center;
    box-shadow: 0px 8px 15px lightblue;
    border: 0; }
  .buttonMain .hireBtn.hire {
    background: white;
    box-shadow: none;
    padding: 11px 0 11px 0;
    border: 2px solid #088FD9;
    color: #088FD9; }

#quote {
  background: linear-gradient(90deg, #F8F8F8 0%, #FCFCFC 100%);
  margin-top: 5%;
  margin-bottom: 1%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8; }
  #quote img {
    height: 50px;
    width: 50px;
    opacity: 0.5; }
    @media only screen and (max-width: 768px) {
      #quote img {
        display: none; } }
  @media only screen and (max-width: 768px) {
    #quote {
      margin-top: 50px; } }
  #quote .quoteText {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px; }
    @media only screen and (max-width: 768px) {
      #quote .quoteText {
        padding: 10px;
        text-align: left; } }

#cv_bar {
  background: none;
  height: 40px;
  border-bottom: 1px solid #F8F8F8;
  box-shadow: none; }

.mobileNav {
  margin-bottom: 30px;
  text-align: center; }
  .mobileNav a {
    display: inline !important;
    padding: .25rem; }

.secondNavLink {
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px;
  padding-right: 10px; }
  .secondNavLink.active {
    color: #18A6DF;
    border-bottom: #AC81FC 2px solid;
    opacity: 1;
    font-weight: 300;
    padding-bottom: 16px; }

.downCV {
  opacity: 0.75;
  color: #18A6DF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 5px;
  margin-left: 400px;
  text-decoration: none !important; }
  @media only screen and (max-width: 600px) {
    .downCV {
      margin-left: 0px; } }
  .downCV :hover {
    text-decoration: none !important; }

.about {
  margin-top: 5%; }
  @media only screen and (max-width: 600px) {
    .about .aboutLeftSideContainer {
      padding-bottom: 50px; } }
  .about img {
    padding-bottom: 7px; }
    @media only screen and (max-width: 991px) {
      .about img {
        margin-left: 12px; } }

.aboutText {
  color: #6A6F72;
  font-family: Roboto;
  font-size: 25px;
  line-height: 29px;
  padding-left: 20px; }

.aboutText.mobile {
  padding-left: 0; }

.newLine {
  height: 2px;
  width: 994px;
  transform: scaleY(-1);
  background-color: #F8F8F8; }

.aboutSubText {
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 15px;
  padding-left: 20px; }
  @media only screen and (max-width: 600px) {
    .aboutSubText {
      padding-left: 0; } }

.aboutSubText.skillBullets {
  padding-left: 28px; }
  @media only screen and (max-width: 600px) {
    .aboutSubText.skillBullets {
      padding-left: 6px; } }

.aboutSubText.skillBars {
  padding-left: 37px; }
  @media only screen and (max-width: 600px) {
    .aboutSubText.skillBars {
      padding-left: 0px; } }

.circle:before {
  content: ' \25CF';
  font-size: 8px;
  color: #DAD9DA;
  border: 1px solid #DAD9DA;
  background: #DAD9DA;
  border-radius: 50%;
  padding: 0 1px 0 1px;
  margin: 9px; }

@media only screen and (max-width: 600px) {
  .mobileCenter {
    text-align: center;
    margin-right: auto; } }

#video {
  padding-bottom: 20px; }
  @media only screen and (max-width: 600px) {
    #video .videoHeading {
      padding-bottom: 20px;
      padding-left: 25px; } }
  #video img {
    height: 50px;
    width: 50px;
    opacity: 0.9; }
  #video .quoteText {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 1.5%;
    padding-left: 10px; }
  #video #videoResume {
    padding-top: 20px; }

#audio {
  background: linear-gradient(90deg, #F8F8F8 0%, #FCFCFC 100%);
  margin-top: 5%;
  margin-bottom: 3%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8; }
  @media only screen and (max-width: 600px) {
    #audio .audioHeading {
      padding-bottom: 20px;
      padding-left: 25px; } }
  #audio img {
    height: 50px;
    width: 50px;
    opacity: 0.9; }
  #audio .quoteText {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 1.5%;
    padding-left: 10px; }

.aboutSubText .year {
  color: #74818F;
  font-family: Roboto;
  font-size: 16px;
  line-height: 14px;
  padding-bottom: 6px;
  padding-top: 4px; }
  .aboutSubText .year .circle:before {
    background: white;
    color: white;
    padding: 0 3px 0 3px;
    font-size: 11px; }
  .aboutSubText .year .work {
    padding-left: 39px;
    font-size: 16px; }
.aboutSubText .title {
  color: #474953;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding-left: 39px;
  word-spacing: .15rem; }
  .aboutSubText .title .circle:before {
    background: white;
    color: white;
    padding: 0 3px 0 3px;
    font-size: 11px; }
  .aboutSubText .title.work {
    padding-left: 0px; }
.aboutSubText .desc {
  color: #30323D;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding-left: 40px;
  padding-top: 4px;
  word-spacing: .15rem; }
  @media only screen and (max-width: 991px) {
    .aboutSubText .desc {
      width: 160px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; } }
.aboutSubText .company {
  color: #474953;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 39px;
  padding-top: 3px;
  padding-bottom: 3px; }

.continueBtn {
  font-size: small;
  color: lightgray;
  font-family: Roboto;
  text-decoration: none; }
  .continueBtn a:hover {
    text-decoration: none; }

.education {
  padding-bottom: 4% !important; }
  @media only screen and (max-width: 991px) {
    .education .educationSection {
      padding-bottom: 50px; } }

.aboutSubText {
  word-wrap: break-word; }
  .aboutSubText .skill {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 0px;
    padding-top: 5px; }
  .aboutSubText .bar {
    padding-top: 7px;
    width: 100%;
    background-color: #CAAFFE; }

.skillBox {
  border: 1.5px solid #44E5EF;
  opacity: 0.5;
  padding: 6px 20px 6px 20px;
  border-radius: 21.5px;
  text-align: center;
  width: auto;
  margin: 10px; }

.moreSkills {
  margin-right: 20px;
  padding-top: 25px;
  padding-left: 55px; }
  @media only screen and (max-width: 600px) {
    .moreSkills {
      padding-left: 20px; } }

.worksSection {
  margin-top: 5%;
  padding-bottom: 5%; }
  .worksSection .firstPart {
    padding-top: 4%;
    padding-bottom: -1%;
    background: url("/background.svg");
    background-repeat: no-repeat;
    background-size: 100% 90%; }
    .worksSection .firstPart #workTextImg {
      margin-left: 16px; }
  .worksSection .worksText {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 25px;
    line-height: 29px; }

.workCard {
  background: white;
  margin-top: 6%;
  padding: 2%;
  margin-left: 39px;
  border: 1px solid #EBEDEF;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 13px 19px -8px #E5ECED;
  height: 308px !important;
  overflow: hidden; }
  @media only screen and (max-width: 600px) {
    .workCard {
      margin-left: 0px; } }
  .workCard .workImg {
    height: 242px;
    overflow: hidden;
    border-radius: 12px; }
    @media only screen and (max-width: 600px) {
      .workCard .workImg {
        height: 216px; } }
    .workCard .workImg img {
      width: 100%;
      padding: 1%;
      border-radius: 12px; }
  .workCard .workTitle {
    color: #697786;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 17px 0px 20px 0; }
    .workCard .workTitle img {
      width: 20px; }

#ourClients {
  background: none;
  padding-top: 2%; }
  #ourClients img {
    padding-bottom: 7px; }
    @media only screen and (max-width: 991px) {
      #ourClients img {
        margin-left: 12px; } }

.clientsBox {
  height: auto;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED;
  margin: 2% 5% 0 5%; }
  .clientsBox .leftSide {
    padding: 2%;
    padding-top: 4%; }
  @media only screen and (max-width: 991px) {
    .clientsBox {
      height: auto; } }

.formLabel {
  opacity: .7;
  color: #18A6DF;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px; }

.form {
  padding: 5%; }

.no-border {
  border-top: 0;
  border-right: 0;
  border-left: 0; }

.footerText {
  opacity: 0.4;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; }
  @media only screen and (max-width: 600px) {
    .footerText {
      text-align: center !important;
      padding-top: 10px;
      padding-bottom: 10px; } }
  .footerText a:hover {
    text-decoration: none; }

.skypeText a:hover {
  text-decoration: none; }
.skypeText span {
  opacity: 0.4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; }

.customFooter {
  padding-top: 6%;
  padding-bottom: 20px; }
  @media only screen and (max-width: 600px) {
    .customFooter {
      height: auto;
      text-align: center; } }
  .customFooter .footerImg img {
    width: 60px;
    opacity: .5; }

.info {
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; }

/*MAP*/
.location-map {
  border-radius: 5px;
  box-shadow: 0 11px 16px -7px #E5ECED;
  margin-top: 10px; }

.map-canvas {
  height: 170px; }

#skills {
  padding-top: 5%;
  padding-bottom: 2%; }
  #skills img {
    padding-bottom: 7px; }
    @media only screen and (max-width: 991px) {
      #skills img {
        margin-left: 12px; } }

#work {
  padding-top: 4%;
  background: none; }

.forgotText a {
  font-size: small;
  border-bottom: 1px solid; }
.forgotText a:hover {
  text-decoration: none; }

.customFormHeader {
  color: #697786;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px; }

.clientForm {
  padding-top: 3%; }
  .clientForm .formLabel {
    color: #A6A9BE;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 16px; }
    .clientForm .formLabel a:hover {
      text-decoration: none; }
  .clientForm .buttonMain {
    padding-top: 0; }
  .clientForm .rememberText {
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 16px; }
  .clientForm .smallText {
    padding-top: 16px;
    color: #A6A9BE;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 16px;
    text-align: center; }
    .clientForm .smallText span {
      color: #4A90E2;
      font-family: Roboto;
      font-size: 14px;
      letter-spacing: 0.1px;
      line-height: 16px; }
      .clientForm .smallText span a:hover {
        text-decoration: none; }

#content {
  /* Freelancers' boxes*/ }
  #content .lineDivider {
    transform: scaleY(-1);
    padding: 3px 0 0 0;
    width: 30px;
    background-color: #30323D;
    margin-top: 8px; }
  #content .line {
    transform: scaleY(-1);
    background-color: whitesmoke;
    padding: 3px 0 0 0; }
  #content #mainSection {
    background: url("/resumeApp/resources/views/customTheme/images/new_theme/rectangle_big.png");
    background-position-x: right;
    background-position-y: 2%;
    background-size: 14% 100%;
    background-repeat: no-repeat;
    border-bottom: 2px solid #F8F8F8;
    padding-bottom: 50px; }
    @media only screen and (max-width: 768px) {
      #content #mainSection {
        background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%); } }
  #content .mainSectionHeading {
    padding: 30px 0 30px 0;
    color: #30323D;
    font-family: Roboto;
    font-size: 38px;
    font-weight: bold;
    line-height: 44px; }
    #content .mainSectionHeading span {
      color: #18A6DF; }
    @media only screen and (max-width: 991px) {
      #content .mainSectionHeading {
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
        text-align: center; } }
  #content .mainSectionSubHeading {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 0; }
    @media only screen and (max-width: 991px) {
      #content .mainSectionSubHeading {
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: center;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px; } }
  #content .buttonMain {
    padding: 20px 0 60px 0;
    text-decoration: none; }
    #content .buttonMain :hover {
      background: #44E5EF !important;
      cursor: pointer;
      outline: none; }
    @media only screen and (max-width: 991px) {
      #content .buttonMain {
        text-align: center; } }
    #content .buttonMain a:hover {
      text-decoration: none; }
    #content .buttonMain .hireBtn {
      border-radius: 24px;
      background: linear-gradient(270deg, #45E6EF 0%, #088FD9 100%);
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.5px;
      line-height: 19px;
      text-align: center;
      box-shadow: 0px 8px 15px rgba(0, 0, 255, 0.3);
      border: 0; }
  #content .secondSectionHeading {
    padding: 4% 0 2% 0;
    color: #30323D;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px; }
    #content .secondSectionHeading span {
      color: #18A6DF; }
    @media only screen and (max-width: 600px) {
      #content .secondSectionHeading {
        padding-left: 5%; } }
  #content .freelancerItem {
    text-decoration: none;
    text-align: center; }
    #content .freelancerItem img {
      margin: auto; }
  #content .slickFreelancerImg {
    border-radius: 50%;
    width: 110px;
    opacity: 0.9;
    background: linear-gradient(135deg, #32FBFC 0%, #3214F2 100%);
    box-shadow: 0 2px 4px 0 rgba(8, 38, 168, 0.15); }
    @media only screen and (max-width: 600px) {
      #content .slickFreelancerImg {
        width: 90px; } }
  #content .freelancerBox {
    transition-duration: 300ms; }
    #content .freelancerBox a {
      outline: none; }
  #content .freelancerBox:hover {
    -ms-transform: translateY(-2px);
    /* IE 9 */
    -webkit-transform: translateY(-2px);
    /* Safari */
    transform: translateY(-2px);
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    transition-duration: 300ms; }
  #content .textImg {
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 14px; }
  #content .itemLink:hover {
    text-decoration: none; }
  #content .freelancers {
    padding: 25px;
    text-align: left; }
  #content .freelancerName {
    color: #666666;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden; }
    #content .freelancerName :hover {
      text-decoration: none; }
  #content .freelancerJob {
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden; }
    #content .freelancerJob :hover {
      text-decoration: none;
      border: 0px; }
  #content .freelancerData {
    padding: 6px 2px 6px 2px; }
  #content .freelancersHeading {
    font-size: 5vh;
    font-weight: bolder;
    padding-bottom: 35px;
    padding-top: 5px; }
  #content .slickSlide {
    padding-bottom: 25px; }
  #content .slick-next:before {
    color: black; }
  #content .slick-prev:before {
    color: black; }
  #content #freelanceTalent {
    padding: 20px 0 10px 0; }
    @media only screen and (max-width: 991px) {
      #content #freelanceTalent {
        padding-bottom: 45px; } }
  #content .talentText {
    color: #697786;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px; }
    @media only screen and (max-width: 600px) {
      #content .talentText {
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        padding-left: 17px; } }
  @media only screen and (max-width: 600px) {
    #content .mapImg {
      padding-top: 20px !important; } }
  #content #devDesBoxes {
    margin-top: 10px;
    background: url("/background.svg");
    background-size: 100% 100%; }
    @media only screen and (max-width: 991px) {
      #content #devDesBoxes {
        background-size: 100% 300px;
        background-repeat: no-repeat; } }
    @media only screen and (max-width: 600px) {
      #content #devDesBoxes {
        background-size: 100% 100%;
        background-repeat: no-repeat; } }
  #content .designerBox {
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    width: 100%;
    margin-top: 5%; }
  @media only screen and (max-width: 600px) {
    #content #developerBox {
      padding: 20px; } }
  @media only screen and (max-width: 600px) {
    #content #designerBox {
      padding: 20px; } }
  #content .borderRight {
    border-right: 1px solid #ECECEC; }
    @media only screen and (max-width: 600px) {
      #content .borderRight {
        border: 0; } }
  #content .designerLeftSide {
    padding-top: 18px; }
    #content .designerLeftSide h2 {
      opacity: 0.9;
      color: #464646;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 10px; }
      @media only screen and (max-width: 600px) {
        #content .designerLeftSide h2 {
          padding: 5px 0 0 0 !important; } }
    #content .designerLeftSide img {
      width: 50px; }
  #content .designerRightSide {
    padding: 20px; }
    #content .designerRightSide h2 {
      opacity: 0.9;
      color: #273D52;
      font-family: Roboto;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 37px; }
      #content .designerRightSide h2 img {
        width: 20px; }
      @media only screen and (max-width: 600px) {
        #content .designerRightSide h2 {
          font-size: 1.3rem;
          border-bottom: 1px solid #F1F1F1;
          border-top: 1px solid #F1F1F1;
          padding-top: 4px;
          padding-bottom: 4px;
          text-align: left; } }
    #content .designerRightSide a {
      opacity: 0.9;
      color: #18A6DF;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px; }
      #content .designerRightSide a img {
        width: 2.5%; }
      #content .designerRightSide a :hover {
        text-decoration: none; }
    #content .designerRightSide .getStartBtn {
      border: 1px solid #D9F9FF;
      border-radius: 5px;
      background-color: #FFFFFF;
      color: #18A6DF;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
      padding: 10px;
      margin-top: 13px; }
      #content .designerRightSide .getStartBtn img {
        width: 8px; }
      #content .designerRightSide .getStartBtn :hover {
        cursor: pointer; }
      #content .designerRightSide .getStartBtn a {
        outline: none; }
  #content #ourClients {
    padding: 5% 8.5% 0 8.5%; }
  #content .heading h2 {
    color: #18A6DF;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px; }
    @media only screen and (max-width: 600px) {
      #content .heading h2 {
        text-align: left;
        padding-right: 14px;
        font-size: 22px;
        font-weight: bold;
        line-height: 25px; } }
  #content .clientsBox {
    height: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 16px -7px #E5ECED;
    margin: 5% 5% 0 5%; }
    #content .clientsBox .leftSide {
      padding: 4%;
      padding-top: 0px; }
    @media only screen and (max-width: 600px) {
      #content .clientsBox {
        height: auto; } }
  #content .customFooter {
    padding-top: 6%;
    padding-bottom: 100px; }
    @media only screen and (max-width: 600px) {
      #content .customFooter {
        height: auto;
        text-align: center; } }
    #content .customFooter .footerImg img {
      width: 60px;
      opacity: .5; }
  #content .footerText {
    opacity: 0.4;
    color: #000000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left; }
    @media only screen and (max-width: 600px) {
      #content .footerText {
        text-align: center !important;
        padding-top: 10px;
        padding-bottom: 10px; } }
  #content .logoImg {
    padding-right: 20px; }
    #content .logoImg img {
      width: 25%;
      padding-top: 10%;
      opacity: .5; }
  #content .designerBtn {
    margin-top: 3%; }
    #content .designerBtn :hover {
      text-decoration: none; }
    #content .designerBtn a {
      border-radius: 4px;
      padding: 5% 0 5% 0;
      opacity: 0.5;
      color: #000000;
      font-family: Roboto;
      font-size: 16px;
      line-height: 19px;
      text-align: center; }
  #content .form {
    padding: 5%; }
  #content .no-border {
    border-top: 0;
    border-right: 0;
    border-left: 0; }

.modal-body .clientForm .formLabelModal {
  color: #A6A9BE;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px; }

.customModal {
  background: red; }

[id*="tickMark"] {
  background: none;
  font-size: small;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 8px;
  text-align: center; }

.registerBody {
  margin-top: 30px; }

.registerHeading {
  color: gray;
  font-weight: bolder;
  text-align: center;
  margin-top: 30%;
  padding-bottom: 10px; }

.registerMainText {
  color: black;
  text-align: center;
  padding-bottom: 10px; }

.infoBar {
  padding-bottom: 20px; }

.paddingBottomTop {
  padding-bottom: 10px;
  padding-top: 10px; }

.pageHeading {
  color: #697786;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .pageHeading {
      font-size: 25px;
      margin-top: 80px; } }

.pageSubHeading {
  color: #697786;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  padding-top: 25px; }

.pageSubHeading2 {
  color: #697786;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  padding-top: 12px; }

.carousel-item.active .tabsArea .tabText {
  border-bottom: 2px solid  #AC81FC; }

.tabsArea {
  padding-top: 30px; }
  .tabsArea .tabText {
    opacity: 0.75;
    color: #919CA5;
    border: 0;
    font-family: Roboto;
    padding-top: 5px;
    margin-left: 6px;
    white-space: normal;
    width: 147px;
    height: 155px;
    border-bottom: 2px solid lightgray; }
    @media only screen and (max-width: 991px) {
      .tabsArea .tabText {
        width: auto;
        padding-top: 0;
        height: 80px; } }
  .tabsArea .tabCircle {
    margin-bottom: 8%;
    max-width: 45px;
    padding: 12px 0px 8px 0px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    color: #919CA5; }
    @media only screen and (max-width: 991px) {
      .tabsArea .tabCircle {
        display: none; } }
  .tabsArea .active {
    font-weight: bold; }
    .tabsArea .active .tabCircle {
      background-color: #919CA5 !important;
      color: white !important;
      font-weight: bold; }

.panel {
  padding: 0px; }

.formTaps .nav-tabs {
  border-bottom: 0 !important; }
.formTaps .nav-tabs .nav-item.show .nav-link, .formTaps .nav-tabs .nav-link.active {
  color: #495057;
  background: linear-gradient(0deg, #FFFFFF 0%, #FCFCFC 100%) !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 2px solid #AC81FC; }

#nav-taps-resume .nav-tabs {
  padding-left: 22%; }
  @media only screen and (max-width: 992px) {
    #nav-taps-resume .nav-tabs {
      padding-left: 10.5%; } }
#nav-taps-resume .nav-tabs .nav-item.show .nav-link, #nav-taps-resume .nav-tabs .nav-link.active {
  color: #4E75E8; }
#nav-taps-resume .nav-tabs .nav-item :hover {
  background: #FDFDFD; }
#nav-taps-resume .nav-tabs .nav-item.show .nav-link, #nav-taps-resume .nav-tabs .nav-link {
  color: #697786;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: -2px 0 0 0; }

.panelHeading {
  padding-top: 15px;
  color: #697786;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 300;
  line-height: 35px;
  padding-bottom: 12px; }
  @media only screen and (max-width: 600px) {
    .panelHeading {
      font-size: 28px;
      padding-top: 0px; } }

.panelFormLabel {
  color: #A6A9BE;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  margin-top: 5px; }
  .panelFormLabel span img {
    padding: 0 !important; }

.panelFormInput {
  border: 1px solid #D5D8DE;
  border-radius: 4px;
  height: 50px; }

.checkBoxText {
  color: #697786;
  font-family: Roboto;
  font-size: 14px !important;
  font-weight: bold;
  letter-spacing: 0.1px;
  padding-left: 25px !important; }

.salaryText {
  color: green;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px;
  font-weight: bold;
  padding-top: 5px; }

.nextBtnStyle {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px; }

.applyBtn {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px; }

.carouselArrows {
  background-color: #544e4e !important;
  border-radius: 30%;
  width: 20px; }

.carouselTabs {
  padding: 10px; }

.greeting {
  color: #0290D8;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  text-align: left; }

.mailHeader {
  padding-top: 100px;
  padding-bottom: 50px; }

.mailBody {
  background: white !important;
  padding: 50px; }

.mailText {
  color: #697786;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px; }

.changesSavedText {
  border-radius: 5px 5px 0 0 !important;
  position: fixed;
  height: 38px;
  bottom: 38px;
  right: 32px;
  width: 173px; }
  @media only screen and (max-width: 600px) {
    .changesSavedText {
      margin-left: -85px;
      left: 50%; } }

.chatWithUsText {
  margin-left: auto; }

.chat-composer input {
  box-shadow: none !important; }
.chat-composer #chatIcon {
  width: 60px;
  height: 45px;
  background: url(/resumeApp/resources/views/customTheme/images/send-icon.png);
  background-size: 86px;
  background-position-x: 7px;
  background-repeat: no-repeat;
  pointer-events: none;
  cursor: default; }
.chat-composer a:hover {
  cursor: pointer; }

.chatMinimized {
  border-radius: 5px 5px 0 0 !important;
  position: fixed;
  height: 38px;
  bottom: 0;
  right: 32px;
  width: 173px; }
  @media only screen and (max-width: 600px) {
    .chatMinimized {
      margin-left: -85px;
      left: 50%; } }
  .chatMinimized a:hover {
    text-decoration: none; }
  .chatMinimized .chatImage {
    background-color: #088FCB;
    padding: 10px 13px 10px 12px;
    border-right: 3px solid #088FCB;
    border-radius: 5px 0 0 0 !important; }
  .chatMinimized .text {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 19px;
    border-radius: 0 5px 0 0 !important;
    padding: 10px 13px 10px 12px;
    background: linear-gradient(270deg, #45e6ef, #088fd9); }

#chatBox {
  opacity: 0;
  height: 454px;
  width: 285px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 7px 16px -7px #8A96A0;
  position: fixed;
  bottom: 0px;
  color: black;
  z-index: 9999;
  margin: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0 0 20px 0;
  margin-bottom: -8px; }
  @media only screen and (max-width: 600px) {
    #chatBox {
      height: 100%;
      width: 100%;
      margin: 0;
      bottom: 0px !important;
      right: 0px !important; } }

#messagesBox {
  overflow-y: auto;
  overflow-x: hidden;
  height: 265px;
  width: 280px;
  padding-left: 15px; }
  @media only screen and (max-width: 600px) {
    #messagesBox {
      width: 100%;
      height: 290px;
      padding-left: 25px;
      padding-right: 25px; } }

.chatHeading {
  z-index: 15 !important;
  position: fixed;
  width: 285px; }
  .chatHeading .chatImage {
    background-color: #088FCB;
    padding: 12px 11px 8px 17px;
    border-right: 3px solid #088FCB; }
  .chatHeading .text {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 19px;
    padding: 13px 13px 9px 10px;
    background: linear-gradient(270deg, #45e6ef, #088fd9); }
  .chatHeading .secondText {
    margin-top: 0 !important;
    padding: 3px 10px 5px 10px;
    background-color: white; }
    .chatHeading .secondText span {
      padding-left: 20px; }
  @media only screen and (max-width: 991px) {
    .chatHeading {
      width: 100%; } }

#closeChat {
  padding-left: 75px; }
  @media only screen and (max-width: 600px) {
    #closeChat {
      padding-left: 45%; } }

.text-chat {
  padding: 10px; }

.name {
  opacity: 0.6;
  color: #697786;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.08px;
  line-height: 14px;
  padding-bottom: 20px;
  padding-top: 4px; }

.messageText {
  border-radius: 0px 10px 10px 10px;
  background-color: #0D96DB;
  padding: 11px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px; }

.messageTextAdmin {
  border: 1px solid #D5D8DE;
  border-radius: 10px 0 10px 10px;
  background-color: #FFFFFF;
  padding: 11px;
  color: #697786;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px; }

.messageTextVisitor {
  border-radius: 10px 10px 10px 10px;
  background-color: #b3d7ff;
  padding: 11px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px; }

.chatMessageInput {
  border-radius: 5px; }

/* The container */
.checkBoxContainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 2px; }

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: #AC81FC; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.deleteBtn {
  border: 1px solid rgba(223, 24, 24, 0.3);
  background: none;
  border-radius: 4px;
  height: 50px;
  padding-top: 18px;
  color: #FF5E71;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .deleteBtn {
      margin-top: 10px; } }

.browseBtn {
  border: 1px solid rgba(24, 166, 223, 0.3);
  border-radius: 4px;
  background: none;
  height: 50px;
  padding-top: 18px;
  color: #18A6DF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .browseBtn {
      margin-top: 10px; } }

@media only screen and (max-width: 1000px) {
  #mytabs {
    width: 100%;
    height: 150px;
    white-space: nowrap !important;
    display: inline-block !important;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden; }
    #mytabs ::-webkit-scrollbar {
      width: 3px; } }
@media only screen and (max-width: 991px) {
  #mytabs {
    height: 90px; } }

@media only screen and (max-width: 1000px) {
  #mytabs li {
    width: 147px;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1; } }

.container1 div {
  display: inline-block; }

@media screen and (max-width: 531px) {
  .container1 {
    display: flex;
    flex-flow: column; }

  .five {
    order: 5; }

  .four {
    order: 4;
    text-align: right; } }
  @media screen and (max-width: 531px) and (max-width: 531px) {
    .four {
      text-align: center !important; } }

@media screen and (max-width: 531px) {
  .three {
    order: 3; }

  .two {
    order: 2; }

  .one {
    order: 1;
    text-align: right; } }
  @media screen and (max-width: 531px) and (max-width: 531px) {
    .one {
      text-align: center !important; } }

.workExperience {
  color: #697786;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin: 20px;
  line-height: 24px;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 10px; }
  .workExperience span {
    padding-left: 5px; }

#addWorkText {
  outline: none; }
  #addWorkText span {
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    outline: none; }

#addProjectText {
  outline: none; }
  #addProjectText span {
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    outline: none; }

.noHoverEffect a:hover {
  text-decoration: none; }

.modal-lg {
  max-width: 80% !important; }

.workDescModal {
  padding-top: 20px;
  color: #697786;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; }

.addDesigner {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px; }

.cardIconsCon {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  height: 36px;
  width: 154px;
  padding-top: 5px; }
  @media only screen and (max-width: 992px) {
    .cardIconsCon {
      margin-bottom: 7px;
      border: 1px solid #4E75E8;
      width: 100%; } }

.modal-card-name {
  color: #18A6DF;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.12px;
  line-height: 21px; }

.modal-card-subName {
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 16px;
  padding-top: 4px; }

.card-audio-con {
  background-color: #ffffff;
  box-shadow: 0 11px 16px -7px rgba(229, 236, 237, 0.5);
  padding-top: 15px;
  margin-top: 20px;
  padding-bottom: 25px; }

.cardIconsCon2 {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  height: 36px;
  width: 154px;
  padding-top: 5px; }
  @media only screen and (max-width: 992px) {
    .cardIconsCon2 {
      border: 1px solid #4E75E8;
      width: 100%; } }

.resumeExpand {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(203, 203, 203, 0.5);
  padding: 15px 0 0 0; }

.fullCV {
  padding: 15px 0 15px 0;
  border-bottom: 1px whitesmoke solid;
  border-top: 1px whitesmoke solid; }

.summaryBtn {
  border: none;
  border-radius: 5px;
  height: 43px;
  background-color: #476DDD;
  padding-top: 12px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center; }

.paymentAndCard {
  margin-left: 9.07%; }
  @media only screen and (max-width: 768px) {
    .paymentAndCard {
      margin: 0; } }

.paymentOptsCont {
  padding: 41px 25px 5px 0; }
  @media only screen and (max-width: 768px) {
    .paymentOptsCont {
      padding: 20px; } }

.paymentDetailsCont {
  padding: 41px 0 5px 25px; }
  @media only screen and (max-width: 768px) {
    .paymentDetailsCont {
      padding: 20px; } }

.paymentContainer {
  width: 910px;
  margin-left: 9.07%; }
  @media only screen and (max-width: 768px) {
    .paymentContainer {
      margin: 0;
      width: 100%; } }

.freelancerCard {
  width: 910px;
  background-color: #FFFFFF;
  box-shadow: 0 11px 16px -7px #E5ECED;
  padding: 0;
  border-radius: 5px;
  margin-left: 9.07%; }
  @media only screen and (max-width: 1200px) {
    .freelancerCard {
      width: auto;
      margin-left: auto; } }
  .freelancerCard .hireText {
    color: #818C99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    padding-bottom: 4px;
    padding-top: 55px; }
    @media only screen and (max-width: 768px) {
      .freelancerCard .hireText {
        padding-top: 30px; } }
  .freelancerCard .hoursBtn {
    border: 1px solid #D5D8DE;
    border-radius: 4px;
    background-color: #FFFFFF;
    height: 32px;
    padding-top: 7px;
    color: #30323D;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    text-align: center; }
  .freelancerCard .cancelBtn {
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    height: 43px;
    padding-top: 12px;
    color: #768290;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center; }
  .freelancerCard .resumeCardLeft {
    border-right: 1px solid #E5ECED;
    background-color: #FDFDFD; }
    .freelancerCard .resumeCardLeft .cardRow {
      text-align: center;
      padding-top: 25px; }
    .freelancerCard .resumeCardLeft .imageContainer {
      height: 196px;
      border-bottom: 1px solid #EBEDEF;
      padding-top: 30px; }
      @media only screen and (max-width: 769px) {
        .freelancerCard .resumeCardLeft .imageContainer {
          border-bottom: 0; } }
  @media only screen and (max-width: 992px) {
    .freelancerCard .cardMainInfo_mob {
      background: #4E75E8;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 11px 16px -7px #E5ECED; } }
  .freelancerCard .resumeCardRight {
    padding: 0; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .resumeCardRight {
        padding-top: 0; } }
    .freelancerCard .resumeCardRight .nameRow {
      background-color: #4E75E8;
      border-radius: 5px 5px 0 0;
      padding: 8px 5px 10px 5px; }
      @media only screen and (max-width: 769px) {
        .freelancerCard .resumeCardRight .nameRow {
          height: auto; } }
      .freelancerCard .resumeCardRight .nameRow .imageCol {
        text-align: left;
        padding-left: 10px; }
        @media only screen and (max-width: 769px) {
          .freelancerCard .resumeCardRight .nameRow .imageCol {
            text-align: left; } }
    .freelancerCard .resumeCardRight .portfolioRow {
      height: 412px;
      overflow-y: auto;
      background: #fdfdfd; }
      @media only screen and (max-width: 769px) {
        .freelancerCard .resumeCardRight .portfolioRow {
          height: auto;
          padding-bottom: 15px; } }
    .freelancerCard .resumeCardRight .hireCardBtn {
      background-color: white;
      border-radius: 5px;
      color: #4E75E8;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 500;
      line-height: 15px;
      padding-top: 10px;
      height: 36px;
      width: 154px;
      margin-top: 4px;
      margin-bottom: 4px; }
      @media only screen and (max-width: 992px) {
        .freelancerCard .resumeCardRight .hireCardBtn {
          width: auto; } }
  @media only screen and (max-width: 767px) {
    .freelancerCard .skillsRow {
      margin-top: 70px;
      padding-top: 15px;
      border-top: 1px solid #EBEDEF; } }
  .freelancerCard .nameArea {
    text-align: left; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .nameArea {
        text-align: left;
        padding-left: 6px; } }
    @media only screen and (max-width: 325px) {
      .freelancerCard .nameArea {
        padding-left: 0; } }
  .freelancerCard .navRow {
    height: 50px;
    border-bottom: 1px solid #EBEDEF;
    border-top: 1px solid #EBEDEF;
    background: #FDFDFD;
    padding-top: 14px;
    padding-bottom: 7px; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .navRow {
        border-top: none; } }
    .freelancerCard .navRow .navTab a {
      color: #4E75E8;
      font-family: Roboto;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      padding-bottom: 9px; }
      @media only screen and (max-width: 350px) {
        .freelancerCard .navRow .navTab a {
          padding-right: 0;
          padding-left: 0; } }
    .freelancerCard .navRow .navTab.active {
      border-bottom: 5px solid #4E75E8;
      padding-bottom: 8px; }
  .freelancerCard .nameCard {
    padding-left: 10px;
    padding-top: 18px;
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px; }
    @media only screen and (max-width: 766px) {
      .freelancerCard .nameCard {
        font-size: 22px;
        padding-left: 0;
        text-align: left;
        padding-top: 20px; } }
  .freelancerCard .audioTransArea {
    padding: 0; }
  @media only screen and (max-width: 769px) {
    .freelancerCard .hireBtnArea {
      padding-bottom: 30px; } }
  .freelancerCard .jobTitle {
    padding-left: 10px;
    color: #697786;
    font-family: Roboto;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal; }
  .freelancerCard .skillsCard {
    color: #697786;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px;
    padding-left: 10px; }
  .freelancerCard .cardLabel {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500; }
  .freelancerCard .cardLabel_interviews {
    color: #697786;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    padding-top: 14px; }
  .freelancerCard .interviewIcons {
    padding-top: 20px;
    padding-right: 25px; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .interviewIcons {
        padding-top: 10px; } }
  .freelancerCard .dropDownBtnRight {
    text-align: right; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .dropDownBtnRight {
        text-align: center; } }
  .freelancerCard .dropDownBtnText {
    padding-left: 8px;
    color: #00B0F3; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .dropDownBtnText {
        padding-left: 0; } }
  .freelancerCard .dropDownBtnLeft {
    text-align: left; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .dropDownBtnLeft {
        text-align: center; } }
  .freelancerCard .freelancerCardLeft {
    text-align: center;
    padding-left: 0; }
    @media only screen and (max-width: 769px) {
      .freelancerCard .freelancerCardLeft {
        padding-bottom: 30px;
        text-align: left; } }
  .freelancerCard .freelancerCardRight {
    padding-right: 20px; }
    .freelancerCard .freelancerCardRight .panelFormLabel {
      padding-bottom: 4px; }
      @media only screen and (max-width: 720px) {
        .freelancerCard .freelancerCardRight .panelFormLabel {
          padding-bottom: 10px; } }
  .freelancerCard .hireRow {
    border-radius: 5px;
    background-color: #4367D3;
    padding: 5px 6px 5px 10px;
    margin-top: 15px; }

.transcript {
  padding: 25px 40px 15px 49px;
  opacity: 0.75;
  color: #637280;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.12px;
  line-height: 21px; }

.audioText {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 13px;
  line-height: 19px; }

.NoDecor a {
  outline: none; }
.NoDecor a:hover {
  text-decoration: none; }

.adminBox {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 30px 10px 0 0px;
  padding: 20px;
  height: auto; }

.fixedTabs {
  position: fixed;
  width: 15%; }
  @media only screen and (max-width: 1200px) {
    .fixedTabs {
      position: relative;
      width: 100%; } }

@media only screen and (max-width: 760px) {
  .modal-mobile-resume {
    margin-left: 35px;
    margin-top: 35px; } }

.searchFreelancers {
  padding-right: 10px;
  border-right: 1px solid lightgray; }

#termsBar {
  width: 100%;
  z-index: 9999999;
  background: white;
  text-align: center;
  padding: 10px;
  height: 60px;
  position: fixed;
  bottom: 0;
  box-shadow: black; }

.tap-to-chat {
  color: #4E75E8;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  line-height: 11px;
  background: white !important;
  border-radius: 12px !important;
  margin: 5px 8px 8px 8px;
  padding: 8px 10px 5px 10px; }
  .tap-to-chat a {
    color: #4E75E8; }
  @media only screen and (max-width: 325px) {
    .tap-to-chat {
      margin-left: 0; } }

@media only screen and (max-width: 992px) {
  .carouselControls {
    padding-top: 15px; } }

@media only screen and (max-width: 760px) {
  .border-bottom-mobile {
    border-bottom: 1px solid #EBEDEF;
    padding-bottom: 25px; } }

.highlightSkill img {
  filter: grayscale(100%); }
  @media only screen and (max-width: 760px) {
    .highlightSkill img {
      display: none; } }
@media only screen and (max-width: 760px) {
  .highlightSkill {
    display: inline; } }

.paymentOption {
  padding: 36px;
  border: 1px solid #F5F2F2;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5); }

.paymentDetails {
  padding: 36px;
  width: 100%;
  border: 1px solid #F5F2F2;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5); }
  @media only screen and (max-width: 760px) {
    .paymentDetails {
      width: 100%; } }

.paymentHeader {
  padding-bottom: 15px;
  color: #697786;
  font-family: Roboto;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.13px;
  line-height: 23px; }
  @media only screen and (max-width: 760px) {
    .paymentHeader {
      padding-top: 20px; } }

.paymentText {
  color: #526374;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 16px; }

.paymentBtn {
  border: 1px solid #00B0F3;
  border-radius: 5px;
  background-color: #00B0F3;
  color: white;
  height: 45px; }
  @media only screen and (max-width: 760px) {
    .paymentBtn {
      height: 50px;
      padding-left: 10px;
      padding-right: 10px; } }

.paymentNote {
  color: #72808E;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.08px;
  line-height: 14px;
  padding-top: 10px;
  padding-left: 26px; }

.stripeImage {
  text-align: right; }
  @media only screen and (max-width: 760px) {
    .stripeImage {
      padding-top: 25px;
      text-align: center; } }

@media only screen and (max-width: 760px) {
  .totalPayText {
    padding-top: 20px;
    text-align: center !important; } }

@media only screen and (max-width: 760px) {
  .marginMobile-0 {
    margin: 0 !important; } }

.carousel-item {
  height: 365px !important; }
  @media only screen and (max-width: 760px) {
    .carousel-item {
      height: auto !important; } }

@media only screen and (max-width: 760px) {
  .paddingTop_mob {
    padding-top: 20px !important; } }

/*# sourceMappingURL=main.css.map */
