.login-modal-content{
  background: #FFFFFF;
  box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
  border-radius: 4px !important;
  border: none !important;
  padding: 20px 52px 52px 52px;
  @media only screen and (max-width: 644px){
    width: 100% !important;
    padding: 12px 12px 40px 12px;
  }
}

.login-modal-dialog{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 17px;
  @media only screen and (max-width: 644px){

  }
}