.oneLineHiddenOverflow{
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 200px;
  text-overflow: ellipsis;
}

.addDesigner{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
}

.bookingsBox{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 30px 10px 0px 10px;
  text-align: center;
  line-height: 160px;
}

.centerVertically{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.circle-blue{
  padding: 0px 8px 0px 8px;
  background: blue;
  border-radius: 50%;
}

#indicatingLine {
  transform: scaleY(-1);
  padding: 3px 0 0 0;
  width: 30px;
  background-color: #30323D;
  margin-top: 8px;
}

.white-on-hover{
  a:hover{
    color: white;
  }
}

.notificationBar{

  display:flex;
  align-items:center;
  justify-content: space-between;
  height:38px;
  padding-left:50px;
  padding-right:57px;
  background:#FFBA69;
  border-radius:4px;

  margin-top: -32px;
  margin-bottom: -6px;
  z-index: inherit;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}