.freelancerCard {
  &.smallCard {

    .freelancerImg {
      width: 60px;
      height: 60px;
    }

    .nameRow {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      border-radius: 5px;
      padding: 14px;
      height: 100%;
    }

    .contact {
      position: absolute;
      top: 20px;
      right: 14px;
    }

    .jobTitle {
      color: white;
      font-size: 14px;
    }

    .payment-details {
      font-size: 12px;

      div {
        display: flex;
        align-items: center;
      }

      img,
      span {
        margin-right: 5px;
      }

      img {
        height: 14px;
      }
    }

    .payment-highLight {
      font-size: 14px;
    }

    .resumeCardRight {
      height: 100%;

      .hireCardBtn {
        width: 87px;
      }

      .nameRow {
        .imageCol {
          padding-left: 0;
        }
      }
    }

    .hireRow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px;
      margin: 0;
      margin-top: 15px;
    }

    .nameCard {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }
}