$normalFont: 18px;
$whiteBackground: #fff;
$top: 32px;
$primary: #FFA368;
$secondary: #05A4F4;

.add-agent-form {
  margin-left: 15px !important;
}

.container {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.headerStyle {
  box-shadow: 0 2px 18px rgba(179, 183, 186, 0.57);
  background: $whiteBackground;
}

.header-icon {
  margin: 20px 32px 20px 52px;
}

.main-grid {
  padding: $top 114px 18px 114px !important;
  background: $whiteBackground;
  box-shadow: 0 2px 18px rgba(179, 183, 186, 0.57);
  border-radius: 4px;
  width: 1164px;
}

.invisiable-div {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #05A4F4;
  background: #FFFFFF;
  box-shadow: 0 2px 18px rgba(179, 183, 186, 0.57);
  border-radius: 4px;
}

.search-icon-margin {
  margin: 20px;
}

.header-text {
  font-size: 1.25rem;
}

.form-main-grid{
  margin: $top 101px 0;
}

.search-main-grid {
  margin: 16px 101px 0;
}

.input_divider{
  margin: $top 0 $top!important;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #4A5464;
}

.radio-button {
  margin-right: 32px;
  text-align: center;
}

.radio-grid {
  display: flex;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  padding-left: 0 !important;
}

.borderinput {
  border: 0 !important;
  border-bottom: 1px solid #7A828D !important;
  border-radius: 4px 4px 0 0 !important;
  background: #fbfbfb !important;
  padding: 8px 6.43px 8px 22.14px !important;
  font-size: 14px!important;
  display: inline-block !important;
  max-width: 1164px !important;
}


.btn-right-bottom {
  font-size: 0.75rem;
  background: $whiteBackground;
  color:#b6b6b6;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px;
}

.btn-right-top {
  font-size: 14px;
  color: #A1A7AF;
  border-radius: 2px;
  background: #e4e4e4;
}


.right-side {
  text-align: right;
}
.play-icon {
  margin-right: 15px;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.center-align {
  display: flex !important;
  align-items: center;
}

.btn-left {
  color: $secondary;
  font-size: 0.75rem;
  background: $whiteBackground;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.1px !important;
  padding-left: 0 !important;
  width: 234px !important;
}

.btn-footer {
  border:1px solid $secondary !important;
  color: $secondary;
  background-color: transparent;
}

.refresh-icon {
  padding-right: 12px;
}

select {
  border: none !important;
  border-bottom: 1px solid #7A828D !important;
  border-radius: 0 !important;
}

input:focus, textarea:focus, button:focus, select:focus {
  -webkit-box-shadow:none !important;
  box-shadow: none !important;
}

label {
  cursor: pointer;
  filter: grayscale(100%);

}

label:hover {
  filter: grayscale(0); }

input[type="radio"]:checked + label {
  filter: grayscale(0);
}

.icon-margin {
  margin-right: 20px;
}
.primaryjob-icon {
  padding-right: 17px;
}
.big-font {
  font-size: 20px;
  font-weight: 500;
}

.avator {
  margin-right: 33px;
  border-radius: 50%;
}

.btn-margin {
  padding-left: 89px;
}

.btn-space {
  margin: 20px 0;
}

.btn-primar {
  background-color: $secondary;
  border: none;
  color: $whiteBackground;
}

.btn-primar:hover {
  background-color: $secondary;
  // border: none;
}
.btn-primar:active {
  background-color: $secondary!important;
  border: none;
}
.btn-responsive {
  display: block;
  width: 208px ;
  white-space: normal !important;
  word-wrap: break-word;
}

.visible-add-agent {
  visibility: visible;
}

.invisible-add-agent {
  visibility: hidden;
  display: none;
}
.invisiblty {
  visibility: hidden;
  display: none;
}

.btn-radius {
  font-size: 14px!important;
  line-height: 24px!important;
  border-radius: 40px !important;
}



@media screen and (max-width: 1270px) {
  .main-grid {
    padding: 21px 60px 18px 40px !important;
    width: 735px;
  }

  .form-main-grid {
    margin: $top 39px 0;
  }

  .search-main-grid {
    margin: 16px 39px 0;
  }
}
@media screen and (max-width: 992px) {
  .form-main-grid {
    margin-left: 6px;
    margin-right: 6px;
  }

  .search-main-grid {
    margin: 16px 6px 0;
  }

  .main-grid {
    padding: 22px 262px 18px 72px;
  }

  .avator {
    margin-right: 23px;
  }

  .btn-margin {
    padding-left: 87px;
  }
}



@media screen and (min-width: 1440px) {
  .select-margin {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 575px) {
  .formHeader {
    font-size: 1rem;
  }

  .search-icon-margin  {
    margin: 15px 9px 15px 15px;
  }

  .right-side {
    text-align: center;
  }

  .main-grid {
    padding: 22px 20px 10px 16px !important;
    width: 298px;
  }

  .small-image {
    width: 30px;
    height: 30px;
  }

  .visiblty {
    visibility: hidden!important;
    display: none;
    // margin-top: -24px;
  }

  .agent-desc-row {
    margin-top: 43px;
  }

  .primaryjob-icon {
    padding-right: 17px;
  }

  .invisiblty {
    visibility: visible!important;
  }


  .icon-margin {
    margin-right: 10px;
  }

  .header-text {
    font-size: 16px;
  }

  .avator {
    margin-right: 15.8px;
  }

  .btn-margin {
    padding-left: 0;
  }

  .btn-responsive {
    // display: block;
    width: 109px !important;
    white-space: normal !important;
    word-wrap: break-word;
    font-size: 11px!important;
  }
}

@media screen and (max-width: 772px) {
  .main-grid {
    padding: 22px 20px 10px 16px;
  }

  .invisible-add-agent {
    visibility: visible;
    display: block;
  }

  .visible-add-agent {
    visibility: hidden;
    display: none
  }
}

