.campaign-blue-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;/* or 133% */
  letter-spacing: -0.1px;
  color: #3EA3D7;
  margin: 26px 0;
}

.campaign-text {
  font-size: 16px;
  line-height: 27px;/* or 169% */
  letter-spacing: -0.1px;
  color: #4A5464;
  margin-bottom: 10px;
}
