.campaign_brief_content {
  display: flex;
  padding-top: 28px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .campaign_desc{
    width: 1164px;
    height: 181px;
    background-color: #fff;
    box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    flex-direction: column;
    font-style: normal;
    padding-left: 60px;
    .title{
      max-width: 1041px;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #4A5464;
      padding-bottom: 17px;
    }
    .desc{
      max-width: 1041px;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #4A5464;
    }
  }

  .campaign_brief_tabs{
    margin-top: 28px;
    width: 1164px;
    min-height:450px ;
    background-color: #fff;
    box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
    border-radius: 4px;

    .campaign-info-bar{
      height: 56px;
      width: 100%;
      background: #05A4F4;
      display: flex;
      justify-content: left;
      align-items: center;
      box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius:4px ;
      @media (max-width:1240px) {
        justify-content: space-evenly;
        overflow-x: scroll;
        display: -webkit-box;
      }
      .campaign-info-tab{
        font-family: Roboto;
        font-style: normal;
        margin-right: 80px !important;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        border-bottom: 3px solid transparent;
        padding: 11px 14px;
        margin-top: 6px;
        cursor: pointer;
        opacity: 0.8;
        @media (max-width:1240px) {
          margin-right: 0;
          font-size: 16px;
        }
      }
      .campaign-info-tab.active{
        font-weight: bold;
        border-bottom: 3px solid white;
        opacity: 1;
      }
      .campaign-info-tab.firstTab{
        margin-left: 25px !important;
        @media (max-width:1240px) {
          margin-left: 0;
        }
      }
    }
  }

  .campaign-info-content{
    .faq-content{
      padding:36px 34px 36px 65px;
      .faq-title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        color: #4A5464;
      }
      .faq-question-input,.faq-answer-input{
        display: flex;
        align-items:center ;
        margin-top: 36px;
        img{
          margin-right:38px
        }
        .faq-input{
          display: flex;
          align-items: center;
          width: 100%;
          input,textarea{
            width: 100%;
            border: none;
            border-bottom: 1px solid #7A828D;
            height: 56px;
          }
          input:focus,textarea:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid #05A4F4;
            outline: none;
          }
          img{
            margin-left: -62px;
            cursor: pointer;
          }
        }
      }
      .faq-add-btn{
        display: flex;
        justify-content: flex-end;
        margin-top: 36px;
        a{
          height:48px;
          width: 104px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: #A1A7AF;
          background: #E4E4E4;
          border-radius: 2px;
        }
        a:hover{
          text-decoration : none ;
        }
      }
      .faq-add-btn.active{
        a{
          color: #fff;
          background: #05A4F4;
        }
      }

      .faq-questions-list{
        margin-top:37px;
        .question-container{
          border-bottom: 1px solid rgba(188, 191, 198, 0.44);
        }
        .faq-question{
          margin-top: 7px;
          padding-bottom: 45px;
          padding-top: 54px;
          display: flex;
          .faq-numbering{
            margin-right: 36px;
            span{
              width:36px;
              height:36px;
              background: #FFA368;
              color:white;
              border-radius: 50%;
              display:flex;
              justify-content: center;
              align-items: center;
            }
          }

          .faq-item{
            .faq-item-question{
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #4A5464;
              margin-bottom: 20px;
            }
            .faq-item-answer{
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              color: #4A5464;
              .question-edit-state{
                width: 100%;
              }
            }
          }

          .faq-edit{
            margin-left: 15px;
            margin-top: 4px;
            cursor: pointer;
          }

        }
        .question-container:last-child{
          border:none;
        }

        .faq-edit-state{
          padding-bottom: 45px;
          padding-top: 54px;
          .edit-heading{
             display: flex;
            .faq-numbering{
              margin-right: 36px;
              span{
                width:36px;
                height:36px;
                background: #FFA368;
                color:white;
                border-radius: 50%;
                display:flex;
                justify-content: center;
                align-items: center;
              }
            }
            .edit-title{
              flex: 1;
              font-family: Roboto;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #4A5464;
            }
            .edit-action-btns{
              a:hover{
                text-decoration: none;
              }
              a{
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                letter-spacing: -0.1px;
                color: #05A4F4;
                margin-left: 70px;
              }
            }
          }
        }
      }

    }
  }
}