.campaign-archives{
  display: flex;
  justify-content: center;
  .archive-content-box{
    margin-top: 32px;
    width:1165px;
    height: auto;
    padding: 32px 93px 63px 114px;
    background: white;
    box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
    border-radius: 4px;
    @media (max-width:1240px) {
      width:96%;
      padding: 32px 40px 63px 40px;

    }

    @media (max-width:430px) {
      padding: 20px 12px 40px 12px;
      .archive-heading{
        font-size: 16px;
      }
    }
    .archive-heading{

      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(188, 191, 198, 0.44);
      white-space: nowrap;
      // text
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      text-transform: uppercase;
      color: #4A5464;
      // img
      img{
        margin-right: 20px;
      }

      @media (max-width:430px) {
        font-size: 16px;
        img{
          width: 30px;
          height: 30px;
          margin-right: 12px;
        }
      }
    }

    .archive-list{
      .campaign-item{
        display: flex;
        justify-content: space-between;
        padding-top: 33px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(188, 191, 198, 0.44);
        .right{
          padding-right: 10px;
          .name-of-campaign{
            margin-bottom: 24px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.1px;
            color: #05A4F4;
            a:hover{
              text-decoration: none;
            }
            a{
              color: #05A4F4;
            }
          }
          .campaign-notes{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.1px;
            color: #7A828D;
          }

        }
        .left{
          .date,.amount{
            display: flex;
            align-items: center;

            margin-bottom: 24px;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #FFA368;
            img{
              margin-right: 20px;
            }
          }
        }
      }
      .campaign-item:last-child{
        border-bottom: none;
      }
    }
  }
}