.update-sub-plan{
  display: flex;
  justify-content: center;
  .subscriptions {
    padding-left:79px;
    padding-right:79px;
    @media (max-width: 1240px) {
      width: 96%;
      padding-left:25px;
      padding-right:25px;
    }
    .subs-heading {
      @media (max-width: 1240px) {
        padding-top: 20px;
      }
      margin:0;
    }
    .subs-list{
      margin:0;
    }
    width: 1096px;
    background-color: #fff;
    box-shadow: 0px 2px 18px rgba(179, 183, 186, 0.57);
    border-radius: 4px;
  }

  .sub-action{
    a{
      width: 158px;
    }
  }
}

.blue-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;/* or 150% */
  letter-spacing: -0.1px;
  color: #3EA0D7;
}

.faq-question-input.sub-edit-input{
  .faq-input{
    width:234px;
    @media (max-width:600px) {
      width:100%;
    }
  }
  @media (max-width:600px) {
    width:100%;
  }
}

.weeks-number-heading{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;/* or 133% */
  color: #4A5464;

  &.sub-heading {
    font-size: 14px;
  }
}

.custom-checkbox  {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-right: 5px;


  }

  .checkbox {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 1.5px solid #4A5464;
    border-radius: 4px;
    
    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 6px;
      height: 12px;
      top: 0;
      left: 5px;
      border: solid #4A5464;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.checked::after {
      display: block;
    }
  }
}

.weeks-number-note{
  padding-top: 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;/* or 171% */
  color: #818893;
}

.sub-agent-numbering{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;/* or 133% */
  color: #FFA368;
}

