$blue: #001ce3;
$darkblue: #001be2;
$darkerlynch: #707b99;
$midnightblue: #001d68;
$moonraker: #c4c9f5;
$darkselago: #e6e8fc;
$selago: #e4e7fb;
$white: #ffffff;
$lynch: #687494;
$lynch50: #68749480;

$main-font: Noto Sans, sans-serif;

$inline-filter-shadow: 0px 5px 10px rgba(0, 16, 131, 0.15);
$button-hover-shadow: 0px 1px 7px -1px rgba(0, 16, 131, 0.5);
