$blue: #001ce3;
$darkblue: #001be2;
$darkerlynch: #707b99;
$midnightblue: #001d68;
$moonraker: #c4c9f5;
$lynch: #687494;
$selago: #e4e7fb;
$white: #ffffff;

$placeholder-color: #68749480;

$inline-filter-shadow: 0px 5px 10px rgba(0, 16, 131, 0.15);
$button-hover-shadow: 0px 1px 7px -1px rgba(0, 16, 131, 0.5);
